<div class="modal fade" id="modalFilter" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" >
          <h4 id="filterModalTitle">Filtro</h4>
          <p class="">Selecione os filtros da tela {{ filterParentScreen }}</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" [disabled]="disabled" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="filterForm" class='form'>
            <!-- <div class="d-flex flex-row justify-content-between">
              <select class="form-control" formControlName="linha_negocio" [(ngModel)]="filter.linha_negocio" (change)="loadCategory()" id="line">
                <option [ngValue]="null" disabled>LINHA</option>
                <option *ngFor="let line of filterData.business_line" [value]="line">{{ line|uppercase }}</option>
              </select>
              <select class="form-control" formControlName="descgrpprd" [(ngModel)]="filter.descgrpprd" (change)="loadSubCategory()" id="category">
                <option [ngValue]="null" disabled>CATEGORIA</option>
                <option *ngFor="let category of categories" [value]="category">{{ category|uppercase }}</option>
              </select>
              <select class="form-control" formControlName="desctgprd" [(ngModel)]="filter.desctgprd" (change)="loadProvider()" id="subCategory">
                <option [ngValue]="null" disabled>SUB-CATEGORIA</option>
                <option *ngFor="let subCategory of subCats" [value]="subCategory">{{ subCategory|uppercase }}</option>
              </select>
            </div> -->
            <div class="d-flex flex-row justify-content-between">
              <!-- <select class="form-control" formControlName="desdivfrn" [(ngModel)]="filter.desdivfrn"  (change)="loadBranches()" id="provider">
                <option [ngValue]="null" disabled>FORNECEDOR</option>
                <option *ngFor="let provider of providers" [value]="provider">{{ provider|uppercase }}</option>
              </select> -->
              <select class="form-control" formControlName="codfilepd" [(ngModel)]="filter.codfilepd" id="fe" (change)="loadBillingBranches($event)" >
                <option [ngValue]="null" >{{ 'Filial de Expedição'|uppercase }}</option>
                <option *ngFor="let branch of expBranches" [value]="branch.CODFILEPD">{{ branch.CODFILEPD}}</option>
              </select>
              <select class="form-control" formControlName="codfilfat" [(ngModel)]="filter.codfilfat" id="ff" (change)="loadStates($event)">
                <option [ngValue]="null">{{'Filial de Faturamento'|uppercase}}</option>
                <option *ngFor="let branch of billBranches" [value]="branch.CODFILFAT">{{ branch.CODFILFAT }}</option>
              </select>
              <select class="form-control" formControlName="codestuni" [(ngModel)]="filter.codestuni" id="uf" (change)="loadProducts($event)">
                <option [ngValue]="null">UF</option>
                <option *ngFor="let uf of uf" [value]="uf.CODESTUNI">{{ uf.CODESTUNI|uppercase }}</option>
              </select>
            </div>
            <div class="d-flex flex-row justify-content-between">
              <select class="form-control" formControlName="codprd" [(ngModel)]="filter.codprd" id="material" (change)="disabled=false">
                <option [ngValue]="null">MATERIAL</option>
                <option *ngFor="let material of materials" [value]="(material.CODPRD)+'-'+(material.DESPRD)">{{ material.CODPRD }} - {{ material.DESPRD|uppercase }}</option>
              </select>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" [disabled]="disabled" (click)="reset()">Limpar</button>
          <button type="button" class="btn btn-primary" [disabled]="disabled" (click)="setFilter()">Filtrar</button>
      </div>
    </div>
  </div>
</div>
