<navegacion></navegacion>
<div class="container background col-9">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Condição</h5>
                </div>
                <div class="modal-body">
                    Criar nova condição ou alterar já existente?
                </div>
                <div class="modal-footer d-flex justify-content-center border-top-0">
                    <button type="button" class="btn bg-standard" [routerLink]="['/condicion', 'criar']">Criar</button>
                    <button type="button" class="btn bg-standard" [routerLink]="['/condicion', 'alterar']">Alterar</button>
                </div>
            </div>
        </div>
    </div>
</div>
