<nav>
  <div class="nav nav-pills" id="tabs" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" id="nav-margin" href="#tab-margin" role="tab">Margem</a>
      <a class="nav-item nav-link" data-toggle="tab" id="nav-competitividade" href="#tab-competitividade" role="tab">Competitividade</a>
      <a class="nav-item nav-link" data-toggle="tab" id="nav-vendas" href="#tab-vendas" role="tab">Vendas</a>
  </div>
</nav>
<div class="tab-content">
  <div class="tab-pane container-tab custom-scrollbar-css fade show active">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8"></div>
    </div>
  </div>
  <div class="tab-pane container-tab custom-scrollbar-css fade show active">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8"></div>
    </div>
  </div>
  <div class="tab-pane container-tab custom-scrollbar-css fade show active">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8"></div>
    </div>
  </div>

</div>
