<!-- Navigation Bar -->
<navegacion></navegacion>
<filter-modal (update)="filter($event)"></filter-modal>
<div class="background">

    <div class="container col-9 main-container">
        <div class="container row col-12 p-4">
            <button type="button" class="btn button-save btn-filter-color" (click)="showFilterModal()" ><i
                    class="fas fa-filter btn-filter-color"></i>&nbsp;Filtro</button>
        </div>
        <nav>
          <div class="nav nav-tabs" id="tabs" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" id="nav-composcao-preco" href="#tab-composicao-preco" role="tab">Composição de Preço</a>
              <a class="nav-item nav-link" data-toggle="tab" id="nav-verba" href="#tab-verba" role="tab">Verba</a>
          </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane container-tab custom-scrollbar-css fade show active" id="tab-composicao-preco" role="tabpanel" aria-labelledby="nav-composicao-preco">

                <table class="table" id="priceComposition">
                    <thead>
                      <tr class="table-head">
                          <th class="th-center table-head-row">Cód.Produto</th>
                          <th></th>
                          <th class="th-center table-head-row">Produto</th>
                          <th></th>
                          <th class="table-head-row" scope="col">ABC</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Sens. a Rebate</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Expedição</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Faturamento</th>
                          <th></th>
                          <th class="table-head-row" scope="col">UF Dest.</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Cod. Região</th>
                          <th></th>
                          <th class="table-head-row" scope="col">CMV</th>
                          <th></th>
                          <th class="table-head-row" scope="col">ICMS</th>
                          <th></th>
                          <th class="table-head-row" scope="col">PIS COFINS</th>
                          <th></th>
                          <th class="th-center table-head-row">Margem Bruta</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Margem Bruta Calc</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Verba Preço</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Funding</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Rebate</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Devolução</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Target</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Flex</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Bonificado</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Complemento</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Preço Base</th>
                          <th></th>


                          <th class="table-head-row" scope="col">Cred. ICMS</th>

                          <th></th>
                          <th class="table-head-row" scope="col">Vir. STB</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Cred. Suframa</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Estoque</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Preço Mercado</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Competitividade</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Bonificação</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Rebate</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Verba para Resultado</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Margem/Custo</th>
                          <th></th>
                          <th class="table-head-row" scope="col">% Flexivel</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Receita Liquida</th>
                          <th></th>
                          <th class="table-head-row" scope="col">% M. Bruta</th>
                          <th></th>filter: dataFilter
                          <th class="table-head-row" scope="col">Preço Base</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of masterDataPriceComposition|filter:dataFilter">
                          <td>{{item.CODPRD}}</td>
                          <td></td>
                          <td>{{item.DESPRD}}</td>
                          <td></td>
                          <td>{{item.ABC}}</td>
                          <td></td>
                          <td>{{item.SENSIVEL_REBATE}}</td>
                          <td></td>
                          <td>{{item.CODFILEMP}}</td>
                          <td></td>
                          <td>{{item.CODFILFAT}}</td>
                          <td></td>
                          <td>{{item.CODESTUNI}}</td>
                          <td></td>
                          <td>{{item.CODEDEREG}}</td>
                          <td></td>
                          <td>{{item.CMV}}</td>
                          <td></td>
                          <td>{{item.ICMS}}</td>
                          <td></td>
                          <td>{{item.PIS_COFINS}}</td>
                          <td></td>
                          <td>{{item.MB}}</td>
                          <td></td>
                          <td>{{item.MB_CALCULADA}}</td>
                          <td></td>
                          <td>{{item.VERBA_PRECO}}</td>
                          <td></td>
                          <td>{{item.FUND_PRECO}}</td>
                          <td></td>
                          <td>{{item.REBATE}}</td>
                          <td></td>
                          <td>{{item.DEVOLUCAO}}</td>
                          <td></td>
                          <td>{{item.TARGET}}</td>
                          <td></td>
                          <td>{{item.FLEX}}</td>
                          <td></td>
                          <td>{{item.BONIFICADO}}</td>
                          <td></td>
                          <td>{{item.COMPLEMENTO}}</td>
                          <td></td>
                          <td>{{item.PRECOBASE}}</td>
                          <td></td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane container-tab custom-scrollbar-css" id="tab-verba" role="tabpanel" aria-labelledby="nav-verba">

                <table class="table" id="verbaInfo">
                    <tr class="table-head">
                        <th></th>
                        <th class="th-center table-head-row">Data</th>
                        <th></th>
                        <th class="th-center table-head-row">Cód. Produto</th>
                        <th></th>
                        <th class="th-center table-head-row">Produto</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Cód. Filial Expedição</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Cód. Divisão Fornecedor</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Preço Saldo</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Preço Crédito</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Preço Débito</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Margem Saldo</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Margem Crédito</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Margem Débito</th>
                    </tr>
                    <tr *ngFor="let item of masterDataMoney|filter:dataFilter">
                        <td></td>
                        <td>{{item.NUMANOMES}}</td>
                        <td></td>
                        <td>{{item.CODPRD}}</td>
                        <td></td>
                        <td>{{item.DESPRD}}</td>
                        <td></td>
                        <td>{{item.CODFILEPD}}</td>
                        <td></td>
                        <td>{{item.CODDIVFRN}}</td>
                        <td></td>
                        <td>{{item.VLRPRECOSALDOMESANTERIOR}}</td>
                        <td></td>
                        <td>{{item.VLRPRECOCREDITO}}</td>
                        <td></td>
                        <td>{{item.VLRPRECODEBITO}}</td>
                        <td></td>
                        <td>{{item.VLRMARGEMSALDOMESANTERIOR}}</td>
                        <td></td>
                        <td>{{item.VLRMARGEMCREDITO}}</td>
                        <td></td>
                        <td>{{item.VLRMARGEMDEBITO}}</td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>
