<!-- Navigation Bar -->
<navegacion></navegacion>
<ngx-spinner></ngx-spinner>
<div class="background">
    <div class="container col-9 main-container">
        <div class="container row col-12 p-4">
          <button type="button" class="btn bg-standard" (click)="showFilterModal()" ><i
                  class="fas fa-filter btn-filter-color"></i>&nbsp;Filtro</button>
          <filter-tag [filter]="filter"></filter-tag>

        </div>
        <nav>
          <div class="nav nav-tabs" id="tabs" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" id="nav-composcao-preco" href="#tab-composicao-preco" role="tab">Composição de Preço</a>
              <a class="nav-item nav-link" data-toggle="tab" id="nav-verba" href="#tab-verba" role="tab">Verba</a>
          </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane container-tab custom-scrollbar-css fade show active" id="tab-composicao-preco" role="tabpanel" aria-labelledby="nav-composicao-preco">
                <table class="table price-composition-table" id="priceComposition">
                    <thead>
                      <tr class="table-head">
                          <th class="th-center table-head-row">Cód. Produto</th>
                          <th></th>
                          <th class="th-center table-head-row">Cód. Filial Expedição</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Cód. Filial Faturamento</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Data</th>
                          <th></th>
                          <th class="table-head-row" scope="col">UF</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Tipo Região</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Margem Bruta</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Verba</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Funding</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Rebate</th>
                          <th></th>
                          <th class="table-head-row" scope="col">ICMS</th>
                          <th></th>
                          <th class="th-center table-head-row">PIS_COFINS</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Devolução</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Preço Alvo</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Flexível</th>
                          <th></th>
                          <th class="table-head-row" scope="col">ST</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Benefício</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Complemento</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Preço Base</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Cód. Região</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Relacionamento</th>
                          <th></th>
                          <th class="table-head-row" scope="col">Tipo Calculo Preço</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of masterDataPriceComposition|filter:filter">
                          <td>{{item.CODPRD}}</td>
                          <td></td>
                          <td>{{item.CODFILEPD}}</td>
                          <td></td>
                          <td>{{item.CODFILFAT}}</td>
                          <td></td>
                          <td>{{item.DATREF.split(" ")[0]}}</td>
                          <td></td>
                          <td>{{item.CODESTUNI}}</td>
                          <td></td>
                          <td>{{item.TIPEDEREG}}</td>
                          <td></td>
                          <td>{{item.VLRMRGBRT}}</td>
                          <td></td>
                          <td>{{item.VLRVBA}}</td>
                          <td></td>
                          <td>{{item.VLRFND}}</td>
                          <td></td>
                          <td>{{item.VLRFNDRBTITE}}</td>
                          <td></td>
                          <td>{{item.VLRICM}}</td>
                          <td></td>
                          <td>{{item.VLRPIS}}</td>
                          <td></td>
                          <td>{{item.VLRDVL}}</td>
                          <td></td>
                          <td>{{item.VLRUNTPCOALV}}</td>
                          <td></td>
                          <td>{{item.VLRFLXCNS}}</td>
                          <td></td>
                          <td>{{item.VLRCSTCAL}}</td>
                          <td></td>
                          <td>{{item.VLRBNF}}</td>
                          <td></td>
                          <td>{{item.VLRCPLCSTPCO}}</td>
                          <td></td>
                          <td>{{item.VLRPCOBSEMER}}</td>
                          <td></td>
                          <td>{{item.CODREGPCO}}</td>
                          <td></td>
                          <td>{{item.NUMRLCCIDGIR}}</td>
                          <td></td>
                          <td>{{item.TIPCALUTZPCOLIQ}}</td>
                          <td></td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane container-tab custom-scrollbar-css" id="tab-verba" role="tabpanel" aria-labelledby="nav-verba">

                <table class="table" id="verbaInfo">
                    <tr class="table-head">
                        <th></th>
                        <th class="th-center table-head-row">Data</th>
                        <th></th>
                        <th class="th-center table-head-row">Cód. Produto</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Cód. Filial Expedição</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Preço Saldo</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Preço Crédito</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Preço Débito</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Margem Saldo</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Margem Crédito</th>
                        <th></th>
                        <th class="table-head-row" scope="col">Valor Margem Débito</th>
                    </tr>
                    <tr *ngFor="let item of masterDataMoney|filter:filter">
                        <td></td>
                        <td>{{item.DATREF}}</td>
                        <td></td>
                        <td>{{item.CODPRD}}</td>
                        <td></td>
                        <td>{{item.CODFILEPD}}</td>
                        <td></td>
                        <td>{{item.VLRSLDPCOMESANT || '0.00'}}</td>
                        <td></td>
                        <td>{{item.VLRCRDPCO || '0.00'}}</td>
                        <td></td>
                        <td>{{item.VLRDBTPCO || '0.00'}}</td>
                        <td></td>
                        <td>{{item.VLRSLDMRGMESANT || '0.00'}}</td>
                        <td></td>
                        <td>{{item.VLRCRDMRG || '0.00'}}</td>
                        <td></td>
                        <td>{{item.VLRDBTMRG || '0.00'}}</td>
                    </tr>
                </table>
              {{ filter|json}}
            </div>
        </div>

    </div>
</div>
<filter-modal filterParentScreen="Dados Mestre" (update)="isSubmitted" (updateFilter)="setFilter($event)" *ngIf="!loading" [data]="masterDataPriceComposition"></filter-modal>
