<!-- Navigation Bar -->
<navegacion></navegacion>
<div class="container background col-9 main-container">
    <div class="container row col-12 p-4">
        <button type="button" class="btn button-save btn-filter-color"><i
                class="fas fa-filter btn-filter-color"></i>&nbsp;Filtro</button>
    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <!-- <ul class="tabs group" role="tablist">
                <li class="active"><a d="nav-composicao-preco"
                        data-toggle="tab" href="#tab-composicao-preco"
                        role="tab"
                        aria-controls="tab-composicao-preco"
                        aria-selected="true">One</a></li>
                <li><a id="nav-verba"
                        data-toggle="tab" href="#tab-verba" role="tab"
                        aria-controls="tab-verba" aria-selected="false">Two</a></li>
            </ul> -->

            <a class="nav-item nav-link active bee" id="nav-composicao-preco"
                data-toggle="tab" href="#tab-composicao-preco" role="tab"
                aria-controls="tab-composicao-preco" aria-selected="true">Composicao
                de Preco</a>
            <a class="nav-item nav-link bee" id="nav-verba"
                data-toggle="tab" href="#tab-verba" role="tab"
                aria-controls="tab-verba" aria-selected="false">Verba</a>
        </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane container-tab custom-scrollbar-css fade show
            active" id="tab-composicao-preco"
            role="tabpanel"
            aria-labelledby="nav-composicao-preco">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="tab-verba" role="tabpanel"
            aria-labelledby="nav-verba">Verba</div>
    </div>


</div>