@import '../../../assets/styles/global.scss';
@import '../../../assets/styles/condicion-sacceso.scss';

.main-container {
    height: 100vh;
}

.btn-filter-color {
    color: white;
}

.container-tab {
    position: relative;
    height: 434px;
    overflow: auto;
    background: white;
}
.th-center {
  text-align: center;
}