<!-- Navigation Bar -->
<navegacion></navegacion>
<div class="background">
  <div class="container col-9 main-container">
    <div class="row">
      <div class="container col-12 p-4 d-flex justify-content-start">
          <button type="button" class="btn button-save btn-filter-color" (click)="filter()"><i
                  class="fas fa-filter btn-filter-color"></i>&nbsp;Filtro</button>
          <div class="applied-filters"></div>
      </div>
    </div>
    <div class="row shaded">
      <div class="container col-12 p-4 d-flex justify-content-start">
          <div class="chart-placeholder">
              <tabbed-charts></tabbed-charts>
          </div>
      </div>
    </div>
    <div class="row shaded">
      <div class="container col-12 p-4">
        <planning-table [data]="planningData"></planning-table>
      </div>
    </div>
    <div class="row shaded">
        <div class="chart-placeholder">
          <selling-composition-charts></selling-composition-charts>
        </div>
    </div>
  </div>
</div>
