

@import 'assets/styles/global.scss';
@import 'assets/styles/condicion-sacceso.scss';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chart-placeholder {
  min-height: 30vh
}
.shaded {
  border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.20);
  position: relative;
  margin-bottom: 2em
}
.badge-secondary {
  color: white
}
.btn-filter-color {
    color: white;
}

.badges {
  width: 100%;
  align-items: flex-start;
  justify-content:space-between;
}
.row.with-overflow {
  overflow: visible;
}
