<!-- Navigation Bar -->
<navegacion></navegacion>
<ngx-spinner></ngx-spinner>
<!--Component Content -->
<div class="background container col-9 d-flex flex-column justify-content-center">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-light border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Sequência de acesso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Sequência de acesso salva com sucesso!
            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0">
              <button type="button" class="btn bg-standard" (click)="closePopUp()">Ok</button>
            </div>
          </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Novo Campo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="text-header">Código</span>
                    <input id="input-modal-tipo" [(ngModel)]="newCampo.cod_campo" class="form-control mb-2 mt-3" readonly/>
                    <span class="text-header">Descrição</span>
                    <input id="input-modal-descripcion" [(ngModel)]="newCampo.nome_campo" class="form-control mt-3"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-inverted font-weight-bold" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn bg-standard font-weight-bold" data-dismiss="modal" (click)="submitCampo()" >Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container row col-12 p-4">
        
        <div class="col-sm-2">
            <span class="text-header">Cód. Sequência</span>
            <input class="form-control mt-3" [(ngModel)]="sequencia.cod_sequencia" readonly/>
        </div>
        <div class="col-sm-10">
            <span class="text-header">Descrição da Sequência de acesso</span>
            <input class="form-control mt-3" [(ngModel)]="sequencia.nome_sequencia" readonly />
        </div>
    </div>
    <ul>
    </ul>
    <div class="container row col-12 p-4">
        <div class="col-sm-6">
            <span class="text-header">Todos os campos</span>
            <div class="bg-white rounded mt-3">
                <input id="saSearch1"
                    class="form-control border-top-0 border-right-0 border-left-0 p-4 list-header custom-text-muted"
                    [(ngModel)]="searchSeq" placeholder="Pesquise o tipo de condição..." />
                <ul class="p-0 martins-scrollbar">
                    <li *ngFor="let campo of campos | filterseleccionado: searchSeq" class="p-2">
                        <div class="custom-control pl-3custom-checkbox">
                            <input (change)="checkValue(campo)" type="checkbox" class="custom-control-input" id="{{campo.cod_campo}}">
                            <label class="pl-4 custom-control-label" for="{{campo.cod_campo}}">{{campo.nome_campo}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="text-header pb-3">Campos Selecionados</span>
            <div class="bg-white rounded mt-3">
                <input id="saSearch2"
                    class="form-control border-top-0 border-right-0 border-left-0 p-4 list-header custom-text-muted"
                    [(ngModel)]="searchSeleccionado" placeholder="Pesquise o tipo de condição..." />
                <ul class="p-0 martins-scrollbar">
                    <li *ngFor="let campo of sequencia.campos | filterseleccionado :searchSeleccionado"
                        class="p-2 w-100 d-flex">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <label class="pl-4 mb-0">{{campo.nome_campo}}</label>
                            <button type="button" (click)="onDltSelection(campo)" class="btn btn-danger ml-2 p-0 d-flex flex-column align-items-center">
                                <span class="btn-label d-flex align-items-center"><i
                                        class="fas fa-times p-0"></i></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container row col-12 pt-4 justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <!-- Button trigger modal -->
                <button type="button" class="btn bg-inverted btn-block font-weight-bold" data-toggle="modal" data-target="#exampleModal">
                    Adicionar novo campo
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input (click)="submitSA()" type="submit" class="btn bg-standard btn-block font-weight-bold" value="Salvar">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div *ngIf="saveSuccess" class="col-md-8 alert alert-success" role="alert">
            <strong>Sequência de acesso {{sequencia.cod_sequencia}} - {{sequencia.nome_sequencia}} salva com sucesso!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div *ngIf="saveError" class="col-md-8 alert alert-danger" role="alert">
            <strong>{{errDesc}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div *ngIf="saveCampoSuccess" class="col-md-8 alert alert-success" role="alert">
            <strong>Campo {{newCampo.cod_campo}} - {{newCampo.nome_campo}} salva com sucesso!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div *ngIf="saveCampoError" class="col-md-8 alert alert-danger" role="alert">
            <strong>{{errDesc}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
</div>
