<!-- Navigation Bar -->
<navegacion></navegacion>

<!--Component Content -->
<div class="container">
    <div class="row pt-2">
        <div class="col-sm-2">
            <span class="text"><strong>Seq. Acceso N</strong></span>
            <input class="form-control" value="SQ001" readonly/>
        </div>
        <div class="col-sm-10">
            <span class="text"><strong>Descricao da seq. acceso</strong></span>
            <input class="form-control" value="Cliente" readonly/>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-sm-6">
            <span class="text"><strong>Todos os campos</strong></span>
                <div>
                    <ul class="p-0">
                        <li class="p-2">
                            <div>
                                <input type="checkbox" class="custom-input">
                                <label class="pl-3 text custom-label">Cliente</label>
                            </div>
                        </li>
                        <li class="p-2">
                            <input type="checkbox">
                            <span class="pl-3 text">Material</span>
                        </li>
                        <li class="p-2">
                            <input type="checkbox">
                            <span class="pl-3 text">Estado</span>
                        </li>
                        <li class="p-2">
                            <input type="checkbox">
                            <span class="pl-3 text">Quantidade vendas</span>
                        </li>
                        <li class="p-2">
                            <input type="checkbox">
                            <span class="pl-3 text">Quantidade estoque</span>
                        </li>
                        <li class="p-2">
                            <input type="checkbox">
                            <span class="pl-3 text">Transferencia</span>
                        </li>
                    </ul>
                </div>
        </div>

        <div class="col-sm-16">
            <span class="text"><strong>Descricao da seq. acceso</strong></span>
            <input class="form-control" value="Cliente" readonly/>
        </div>
    </div>
</div>
