.table td {
  text-align: right;
  width: 115px;
  height: .40rem
}

.mirrorInput {
  outline: 1px solid #4270C1;
  box-sizing: border-box;
  padding: .4em
}

.w-50..ng-star-inserted {
  width: 50px
}
