
<div class="row d-flex flex-row badges">
    <!-- <div>
    <span class="badge badge-secondary p-2">11/03/2020</span>
    <span class="badge badge-secondary p-2">Semana 2</span>
    </div>
  <button class="btn btn-outline-primary p-1">Elasticidade</button> -->
</div>
<div class="row with-overflow custom-scrollbar-css">
  <table class="table">
    <col>
    <colgroup span=3></colgroup>
    <tr>
      <td rowspan="2"></td>
      <th scope="colgroup" *ngFor="let item of data; let weekCount=index" class="text-center" colspan="3">Semana {{weekCount +1 }}</th>
    </tr>
    <tr>
      <ng-container *ngFor="let item of data">
        <th scope="col">Sugerido</th>
        <th scope="col">Planejado</th>
        <th scope="col"><span *ngIf="hasRealized">Realizado</span></th>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Vendas (OMR)</th>
      <ng-container *ngFor="let item of data">
        <td>{{ item.VLRVNDLIQCAL|currency:'BRL'}}</td>
        <td>{{ item.VLRVNDLIQCAL|currency:'BRL'}}</td>
        <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Vendas Alcançadas </th>
      <ng-container *ngFor="let item of data">
        <td>{{ item.VLRVNDPRVCTR|currency:'BRL'}}</td>
        <td>{{ item.VLRVNDLIQOCD|currency:'BRL'}}</td>
        <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Competitividade </th>
      <ng-container *ngFor="let item of data">
        <td>{{ item.VLRMCDCAL|number:'1.2-2'}}%</td>
        <td>{{ item.VLRMCDOCD|number:'1.2-2'}}%</td>
        <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row"> - Preço Mercado </th> <!-- child from competitividade row -->
      <ng-container *ngFor="let item of data">
        <td>{{ item.VLRPCOMEDMCD|currency:'BRL'}}</td>
        <td>{{ item.VLRPCOMEDMCD|currency:'BRL'}}</td>
        <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Margem Bruta </th>
      <ng-container *ngFor="let item of data">
      <td>{{ ((item.MRGBRTOCD/item.VLRRCTLIQOCD)*100).toFixed(2)}}%</td>
      <td>{{ ((item.MRGBRTOCD/item.VLRRCTLIQOCD)*100).toFixed(2)}}%</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Preço Venda </th>
      <ng-container *ngFor="let item of data">
        <td>{{ item.VLRPCOVNDLIQCAL|currency:'BRL'}}</td>
        <td>{{ item.VLRPCOVNDLIQOCD|currency:'BRL'}}</td>
        <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Preço Base </th>
      <ng-container *ngFor="let item of data">
        <td>{{ item.VLRPCOBSECAL|currency:'BRL'}}</td>
        <td>{{ item.VLRPCOBSEOCD|currency:'BRL'}}</td>
        <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">(+) Impostos </th>
      <ng-container *ngFor="let item of data">
      <td>{{ item.VLRIMPTOTCAL|currency:'BRL'}}</td>
      <td>{{ item.VLRIMPTOTOCD|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row"> - ICMS </th>
      <ng-container *ngFor="let item of data">
      <td>{{ item.VLRICMCAL|currency:'BRL'}}</td>
      <td>{{ item.VLRICMOCD|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row"> - PIS/COFINS </th>
      <ng-container *ngFor="let item of data">
      <td>{{ item.VLRPISCAL|currency:'BRL'}}</td>
      <td>{{ item.VLRPISOCD|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Devolução </th> <!-- Operacional's child -->
      <ng-container *ngFor="let item of data">
      <td>{{ item.VLRDVLCAL|currency:'BRL'}}</td>
      <td>{{ item.VLRDVLOCD|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Flexível </th>
      <ng-container *ngFor="let item of data">
      <td>{{ item.VLRPISCAL|currency:'BRL'}}</td>
      <td>{{ item.VLRPISOCD|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Margem Bruta Unitária</th>
      <ng-container *ngFor="let item of data">
        <td>{{ item.VLRMRGBRTCAL|currency:'BRL'}}</td>
        <td>{{ item.VLRMRGBRTOCD|currency:'BRL'}}</td>
        <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Verba Sugerida </th>
      <ng-container *ngFor="let item of data; index as index">
      <td>{{ item.VLRRBTOCD|currency:'BRL'}}</td>
      <td>{{ item.VLRRBTCAL|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">Verba Planejada </th>
      <ng-container *ngFor="let item of data; index as index">
      <td>{{ item.VLRVBAOCD || '-' }}</td>
      <td>
        <inline-edit (update)="updateField(index, 'VLRVBAOCD')" editableOnEnter>
          <ng-template viewMode> {{ item.VLRVBAOCD|currency:'BRL'}}</ng-template>
          <ng-template editMode editableOnEnter>
            <input class="w-50"
              [formControl]="getControl(index, 'VLRVBAOCD')"
              (ngModelChange)="captureChanges($event)" size="8"
              [(ngModel)]="item.VLRVBAOCD" type="text">
          </ng-template>
        </inline-edit>
      </td>
      <td></td>
      </ng-container>
    </tr>
    <!-- start Impostos children -->

    <!-- // End Impostos children -->
    <!-- <tr>
      <th scope="row">Operacional </th>
      <ng-container *ngFor="let item of data">
      <td>
        <span *ngIf="item.operacional">
        {{ (item.operacional_devolucao_sugerido + item.operacional_logistica_sugerido)|currency:'BRL' }}
        </span>
      </td>
      <td>
        {{ (item.operacional_devolucao_planejado + item.operacional_logistica_planejado)|currency:'BRL' }}
      </td>
      <td></td>
      </ng-container>
    </tr> -->
    <!-- // Verba's children end -->
    <tr>
      <th scope="row">CMV Preço Sugerido </th>
      <ng-container *ngFor="let item of data; index as index">
      <td>{{ item.VLRCMVCAL|currency:'BRL'}}</td>
      <td>{{ item.VLRCMVOCD|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">CMV Preço Atual </th>
      <ng-container *ngFor="let item of data; index as index">
      <td>{{ item.VLRCMVPCOATU|currency:'BRL'}}</td>
      <td>{{ item.VLRCMVPCOATU|currency:'BRL'}}</td>
      <td></td>
      </ng-container>
    </tr>
    <tr>
      <th scope="row">CMV Compra Estoque </th>
      <ng-container *ngFor="let item of data; index as index">
      <td>{{ item.VLRCSTCMPMER|currency:'BRL'}}</td>
      <td>
        <inline-edit (update)="updateField(index, 'VLRCSTCMPIDL')" editableOnEnter>
          <ng-template viewMode>{{ item.VLRCSTCMPIDL|currency:'BRL'}}</ng-template>
          <ng-template editMode>
            <input class="w-50"[formControl]="getControl(index, 'VLRCSTCMPIDL')" (ngModelChange)="captureChanges($event)" size="8" type="text" [(ngModel)]="item.vlrcmvcmppln">
          </ng-template>
        </inline-edit>
      </td>
      <td></td>
      </ng-container>
    </tr>
  </table>
</div>
<modal-plano filterParentScreen="Plano de Compras" (update)="filter($event)"></modal-plano>
