<!-- Navigation Bar -->
<navegacion></navegacion>

<!--Component Content -->
<div class="container menu-background">
    <!-- Select-->
    <div *ngIf="!isShow">
        <precio-seleccion (negociosOutput)="parentListener($event)"
            (ventasOutput)="parentListenerTwo($event)"></precio-seleccion>
        <div class="d-flex justify-content-center background">
            <div class="col-2 form-group">
                <input type="submit" (click)="goToSection()"
                    [disabled]="!existVentas || !existNegocios" class="btn
                    bg-standard btn-block font-weight-bold" value="Entrar">
            </div>
        </div>
    </div>

    <!--Main view-->
    <div *ngIf="isShow">
        <div *ngFor="let element of elements" class="background">
            <precio-element titulo="{{element.Nome_Camada}}"></precio-element>
        </div>
    </div>

</div>