.badge {
  padding: .8rem;
  font-size: 0.9rem;
}

.badge-filter {
  background: #bfbfbf;
  color: #fafafa
}
.badge:nth-child(n+2) {
  margin-left: 1em
}
.badge span {
  margin-right: .4em;
  vertical-align: middle;
}

.badge .close {
	margin-left: .5rem;
	color: #fff;
	font-size: 80%;
	text-shadow: 0 1px 0 rgba(#000, .4);
  vertical-align:middle;
  cursor: pointer;
}
