.badge {
  padding: .5em;
  font-size: 1em;
  span {
    margin-right: 1em;
    vertical-align: middle;
  }
  .close {
		margin-left: 1rem;
		color: #fff;
		font-size: 80%;
		text-shadow: 0 1px 0 rgba(#000, .5);
    vertical-align:middle;
	}
}
