<!-- Navigation Bar -->
<navegacion></navegacion>

<!--Component Content -->
<!-- Select-->
<div *ngIf="!isShow">
    <precio-seleccion></precio-seleccion>
    <div class="d-flex justify-content-center">
        <div class="col-2 form-group">
            <input type="submit" (click)="goToSection()" class="btn btn-primary btn-block button-save" value="Entrar">
        </div>
    </div>
</div>

<!--Main view-->
<div *ngIf="isShow">
    <div class="background">
        <precio-element titulo="PRECO BASE"></precio-element>
        <precio-element titulo="REGULATORIO"></precio-element>
        <precio-element titulo="FINANCEIRO"></precio-element>
        <precio-element titulo="DESCONTO"></precio-element>
        <precio-element titulo="DESCONTO TRADE"></precio-element>
    </div>
</div>            