<!-- Navigation Bar -->
<navegacion></navegacion>

<!--Main view-->
<div class="container menu-background" id="precio-container">
  <!-- BUSINESS USER -->
  <div *ngIf="bBusiness">
        <precio-business></precio-business>
  </div>

  <!-- TECHNICAL USER -->
    <div *ngIf="!bBusiness">
        <div class="background">
            <precio-technical titulo="PRECO BASE"></precio-technical>
            <precio-technical titulo="REGULATORIO"></precio-technical>
            <precio-technical titulo="FINANCEIRO"></precio-technical>
            <precio-technical titulo="DESCONTO"></precio-technical>
            <precio-technical titulo="DESCONTO TRADE"></precio-technical>
        </div>
    </div>

</div>