*:not(input){
    color: #858585;
}

*:not(.fas) {
    font-family: 'Raleway', sans-serif;
}
.fa-search {
    color: #858585;
    font-size: 1.2rem;
}

.background {
    background: #F1F2F3;
}

.container.rounded {
    background-color: white;
}

.text-header {
    font-weight: 800;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #009966;
    background-color: #009966;
}

.btn-secondary {
    width: 20px;
}

.btn-secondary:hover{
    background-color:#dc3545;
    border-color:#dc3545
}

i {
    color: #fff;
}