<div class="precioWrapper px-5 py-4">

    <div class="row">
        <div class=" col-xs-12 col-lg-12 ">
            <div class="mb-3">
                <div class="form row">
                    <div class="row">
                        <div class="px-1 mb-3 col-xs-12 col-md-1">
                            <label for="nombre" class="martinsLabel control-label">Cod.Mat</label>
                            <input type="text" value='' class="form-control" name="nombre" id="nombre"
                                placeholder="Cod." readonly>
                        </div>

                        <div class="px-1 mb-3 col-xs-12 col-md-4">
                            <label for="desmaterial" class="martinsLabel control-label">Descrição do material</label>
                            <input type="text" value='' class="form-control" name="desmaterial" id="desmaterial"
                                placeholder="Seleccione" readonly>
                        </div>
                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3">
                            <i class="fas fa-search"></i>
                        </div>

                        <div class="px-1 mb-3 col-xs-12 col-md-1">
                            <label for="codFe" class="martinsLabel control-label">Cod.FE</label>
                            <input type="text" value='' class="form-control" name="codFe" id="codFe" placeholder="Cod.">
                        </div>
                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-4">
                            <label for="filialExp" class="martinsLabel control-label">Filial de expedição</label>
                            <button
                                class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Selecione
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a *ngFor="let fili of filial; let id = index" id="{{id}}"
                                    class="dropdown-item martinsText">{{fili.Desc_Filial}}</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="px-1 mb-3 col-xs-12 col-md-1">
                            <label for="codFat" class="martinsLabel control-label">Cod.FAT</label>
                            <input type="text" value='' class="form-control" name="codFat" id="codFat"
                                placeholder="Cod.">
                        </div>


                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-3">
                            <label for="filialFat" class="martinsLabel control-label">Filial de faturamento</label>
                            <button
                                class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Selecione
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item martinsText">Opt1</button>
                                <button class="dropdown-item martinsText">Opt2</button>
                                <button class="dropdown-item martinsText">Opt3</button>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3">
                            <i class="fas fa-search"></i>
                        </div>

                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-1">
                            <label for="estado" class="martinsLabel control-label">Estado</label>
                            <button
                                class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                UF
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item martinsText">Opt1</button>
                                <button class="dropdown-item martinsText">Opt2</button>
                                <button class="dropdown-item martinsText">Opt3</button>
                            </div>
                        </div>
                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-3">
                            <label for="reg" class="martinsLabel control-label">Região de preço</label>
                            <button
                                class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cód
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item martinsText">Opt1</button>
                                <button class="dropdown-item martinsText">Opt2</button>
                                <button class="dropdown-item martinsText">Opt3</button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="px-1 col-12 col-md-2 d-flex justify-content-center">
                            <div class="px-1 mb-3 col-xs-12 col-md-6">
                                <input type="submit" class="btn bg-inverted btn-labeled btn-block btn-md btn-pventa "
                                value="Abrir">
                            </div>
                            <div class="px-1 mb-3 col-xs-12 col-md-6">
                                <input type="submit"
                                    class="btn bg-inverted btn-labeled btn-block btn-md btn-pventa btn-grey"
                                    value="Limpar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modCond modGeneral col-xs-12 col-md-4 col-lg-4 bg-white rounded martins-scrollbar p-4">
            <div class="d-flex flex-row">
                <h4 class="subtitlab darkbl col-md-8">Seleccione uma condição</h4>
                <i class="fas fa-info-circle col-md-4 text-right"></i>
            </div>
            <div class="mt-3">
                <h5 class="subtitlab darkbl m-0">CMV</h5>

                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText">CMV</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+106,41</p>
                    </div>
                </div>

                <hr>

                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">+106,41</p>
                    </div>
                </div>

            </div>

            <div class="mt-3">
                <h5 class="subtitlab darkbl m-0">REGULATÓRIO</h5>

                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText">IPI</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+25,00</p>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText">ST</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+5,00</p>
                    </div>
                </div>


                <hr>
                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">+36,76</p>
                    </div>
                </div>

            </div>


            <div class="mt-3">
                <h5 class="subtitlab darkbl m-0">OPERACIONAL</h5>

                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText">Devolução</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">+5,00</p>
                    </div>
                </div>

                <hr>
                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">+5,00</p>
                    </div>
                </div>

            </div>

            <div class="mt-3">
                <h5 class="subtitlab darkbl m-0">FINANCIERO</h5>

                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText">Condição de pag.</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">0</p>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText">Margen por seg.</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right">0</p>
                    </div>
                </div>

                <hr>
                <div class="row mt-3">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab darkbl">Subtotal</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">-20,39</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-offset-col-md-4 col-lg-8">
            <div class="modCondSelect modGeneral bg-white rounded p-4">

                <h4 class="pb-2 subtitlab">Condição selecionada </h4>
                <h4 class="pb-2 subtitlab darkgr">Selecione uma sequência de acesso</h4>

                <div class="dropdown col-12 mt-2 mb-4 p-0">
                    <button class="dropdownMenuButton col-12 btn btn-light dropdown-toggle text-left  px-12 py-12"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedSequencia ? selectedSequencia.Nome_Sequencia : 'Selecione uma opção' }}
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item martinsText" *ngFor="let sequencia of sequencias"
                            (click)="getSelectedSequencia(sequencia)">{{ sequencia.Nome_Sequencia }}
                        </button>
                    </div>
                </div>
                <h4 class="subtitlab darkgr">Preencher condições</h4>

                <div class="compliance border rounded martins-scrollbar px-3 py-2">

                  <div class="myTable table-responsive table-hover p-">
                    <table class="table table-striped ">
                      <thead>
                        <tr>
                          <th class="p-1 text-center border-top-0 color-martins-blue font-weight-bold" scope="col">Cod. Cliente</th>
                          <th scope="col" class="p-1 border-top-0 color-martins-blue font-weight-bold">Tipo Cliente</th>
                          <th scope="col" class="p-1 border-top-0 color-martins-blue font-weight-bold">Valor</th>
                          <th scope="col" class="p-1 border-top-0 color-martins-blue font-weight-bold">Válido de</th>
                          <th scope="col" class="p-1 border-top-0 color-martins-blue font-weight-bold">Válido até</th>
                        </tr>
                      </thead>

                      <tbody class="">
                         <tr class="" *ngFor="let r of dataList; let i = index" (click)="getSelectedCondicao(r , i)">
                          <td class="p-1 text-center font-weight-bold ">{{r.idCliente}}</td>
                          <td class="p-1 text-left font-weight-bold ">{{r.tipo}}</td>
                          <td class="p-1 text-left font-weight-bold ">{{r.valor}}</td>
                          <td class="p-1 text-left font-weight-bold ">{{r.valdesd}}</td>
                          <td class="p-1 text-left font-weight-bold ">{{r.valate}}</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>

                </div>
                <div class="text-center">
                    <input type="submit" class="btn bg-inverted btn-md btn-pventa font-weight-bold mt-4 py-2 px-5"
                        value="Salvar">
                </div>



            </div>
        </div>

    </div>

</div>
