<div class="precioWrapper px-5 py-4">
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-light border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Esquema de Cálculo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Esquema de Cálculo salva com sucesso!
            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0">
              <button type="button" class="btn bg-standard" (click)="closePopUp()">Ok</button>
            </div>
          </div>
        </div>
    </div>
    <select-popup-material *ngIf="bSelectMaterial" [dataMaterial]='mercadoria'
        (selectedMaterial)="getSelectedMaterial($event)" (closePopup)="closeOutput($event, 'material')">
    </select-popup-material>
    <select-popup-expedicao *ngIf="bSelectExpedicao" [dataExpedicao]="filialExpedicao"
        (selectedExpedicao)="getSelectedExpedicao($event)" (closePopup)="closeOutput($event , 'expedicao')">
    </select-popup-expedicao>
    <select-popup-faturamento *ngIf="bSelectFacturamento" [dataFaturamento]="filialFaturamento"
        (selectedFaturamento)="getSelectedFaturamento($event)" (closePopup)="closeOutput($event , 'filial')">
    </select-popup-faturamento>
    <select-popup-regiao *ngIf="bSelectRegiao" [dataRegiao]="regiao" (selectedRegiao)="getSelectedRegiao($event)"
        (closePopup)="closeOutput($event , 'regiao')"></select-popup-regiao>



    <div class="row">
        <div class=" col-xs-12 col-lg-12 ">
            <div class="mb-3">
                <div class="form row">
                    <div class="row col-md-12">
                        <div class="px-1 mb-3 col-xs-12 col-md-1">
                            <label for="nombre" class="martinsLabel control-label">Cod.Mat</label>
                            <input type="text" value='' class="form-control" name="nombre" id="nombre"
                                placeholder="Cod." [(ngModel)]="chavePrecificao.mercadoria.codprd" readonly>
                        </div>

                        <div class="px-1 mb-3 col-xs-12 col-md-4">
                            <label for="desmaterial" class="martinsLabel control-label">Descrição do material</label>
                            <input type="text" value='' class="form-control" name="desmaterial" id="desmaterial"
                                placeholder="Seleccione" [(ngModel)]="chavePrecificao.mercadoria.desprd" readonly>
                        </div>
                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3"
                            (click)="openPopUp('material')">
                            <i class="fas fa-search"></i>
                        </div>

                        <div class="px-1 mb-3 col-xs-12 col-md-1">
                            <label for="codFe" class="martinsLabel control-label">Cod.FE</label>
                            <input readonly type="text" value=''
                                [(ngModel)]="chavePrecificao.filialExpedicao.codfilemp" class="form-control"
                                name="codFe" id="codFe" placeholder="Cod.">
                        </div>
                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-4">
                            <label for="filialExp" class="martinsLabel control-label">Filial de expedição</label>
                            <input type="text" value='' class="form-control"
                                [(ngModel)]="chavePrecificao.filialExpedicao.desfilemp" name="desmaterial"
                                id="desmaterial" placeholder="Seleccione" readonly>
                        </div>
                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3"
                            (click)="openPopUp('expedicao')">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="px-1 mb-3 col-xs-12 col-md-1">
                            <label for="codFat" class="martinsLabel control-label">Cod.FAT</label>
                            <input type="text" value='' class="form-control"
                                [(ngModel)]="chavePrecificao.filialFaturamento.codfilempfat" name="codFat"
                                id="codFat" placeholder="Cod." readonly>
                        </div>


                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-3">
                            <label for="filialExp" class="martinsLabel control-label">Filial de faturamento</label>
                            <input type="text" value=''
                                [(ngModel)]="chavePrecificao.filialFaturamento.desfilempfat" class="form-control"
                                name="desmaterial" id="desmaterial" placeholder="Seleccione" readonly>
                        </div>

                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3"
                            (click)="openPopUp('filial')">
                            <i class="fas fa-search"></i>
                        </div>

                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-1">
                            <label for="estado" class="martinsLabel control-label">Estado</label>
                            <button
                                class="col-12 btn btn-light dropdown-toggle dropdownMenuButton text-left  px-12 py-12"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{chavePrecificao.estado.codestuni === '' ? 'SEL' : chavePrecificao.estado.codestuni}}
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button *ngFor="let e of estado" (click)="onSelectEstado(e)"
                                    class="dropdown-item martinsText">{{e.codestuni}} - {{e.desestuni}}</button>
                            </div>
                        </div>
                        <div class="dropdown px-1 mb-3 col-xs-12 col-md-3">
                            <label for="reg" class="martinsLabel control-label">Região de preço</label>
                            <input type="text" value='' [(ngModel)]="chavePrecificao.regiao.codedereg"
                                class="form-control" name="desmaterial" id="desmaterial" placeholder="Seleccione região"
                                readonly>
                        </div>
                        <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center mt-3"
                            (click)="openPopUp('regiao')">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="px-1 col-12 col-md-2 d-flex justify-content-center">
                            <div class="px-1 mb-3 col-xs-12 col-md-6">
                                <input type="submit" class="btn bg-inverted btn-labeled btn-block btn-md btn-pventa "
                                    (click)="onAbrirChavePrecificao()" value="Abrir">
                            </div>
                            <div class="px-1 mb-3 col-xs-12 col-md-6">
                                <input type="submit"
                                    class="btn bg-inverted btn-labeled btn-block btn-md btn-pventa btn-grey"
                                    value="Limpar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modCond modGeneral col-xs-12 col-md-4 col-lg-4 bg-white rounded martins-scrollbar">
            <div class="p-3">
              <div class="d-flex flex-row">
                <h4 class="subtitlab darkbl col-md-8">Seleccione uma condição</h4>

                <i class="fas fa-info-circle col-md-4 text-right"></i>
            </div>
            <!-- Camadas/Condiçaos -->
            <div id="{{camada.nome_camada}}" *ngFor="let camada of camadafullData" class="mt-3">
                <div>
                    <h5 class="subtitlab darkbl m-0">{{camada.camada.nome_camada}}</h5>
                    <div class="row mt-3 d-flex flex-column">
                        <div *ngFor="let condicao of camada.condicaos  ; let i = index" class="d-flex justify-content-between col col-xs-3 col-12">
                            <p id="condicao.cod_condicao" (click)="onSelectCondicao(condicao , camada.camada.nome_camada , i)" class=" condicionSel {{camada.camada.nome_camada}} martinsText">{{condicao.desc_condicao}}</p>
                            <p class="martinsText text-right">{{condicao.value}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col col-xs-3">
                            <p class="martinsText subtitlab darkbl">Subtotal</p>
                        </div>
                        <div class="col col-xs-9">
                            <p class="martinsText text-right font-weight-bold">{{camada.camada.value === '' ? 0 : camada.camada.value}}</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div>
                <div class="row mt-3 total p-2">
                    <div class="col col-xs-3">
                        <p class="martinsText subtitlab lightbl">PREÇO {{precioType}}</p>
                    </div>
                    <div class="col col-xs-9">
                        <p class="martinsText text-right font-weight-bold">{{currentTotal}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-offset-col-md-4 col-lg-8">
            <div class="modCondSelect modGeneral bg-white rounded p-4">

                <h4 class="pb-2 subtitlab">Condição selecionada </h4>
                <h4 class="pb-2 subtitlab darkgr">Selecione uma sequência de acesso</h4>

                <div class="dropdown col-12 mt-2 mb-4 p-0">
                    <button class="dropdownMenuButton col-12 btn btn-light dropdown-toggle text-left  px-12 py-12"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedSequencia ? selectedSequencia.nome_sequencia : 'Selecione uma opção' }}
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item martinsText" (click)="onSelectSequencia(sequencia)"
                            *ngFor="let sequencia of currentSequencias">{{ sequencia.nome_sequencia }}
                        </button>
                    </div>
                </div>
                <h4 class="subtitlab darkgr">Preencher condições</h4>

                <div class="compliance border rounded martins-scrollbar px-3 py-2">

                    <div class="myTable table-responsive table-hover p-">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th *ngFor="let campo of currentSelectedCampos" class="p-1 text-center border-top-0 color-martins-blue font-weight-bold"
                                        scope="col">{{campo.nome_campo}}</th>
                                </tr>
                            </thead>

                            <tbody class="">
                                <tr class="">
                                    <td (blur)="currVal(campo)" contenteditable="true" *ngFor="let campo of currentSelectedCampos; let i = index" id="{{campo.nome_campo}}" class="p-1 text-center font-weight-bold ">{{campo.value}}</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="text-center">
                    <input type="submit" (click)="onSalvarEsquema()" class="btn bg-inverted btn-md btn-pventa font-weight-bold mt-4 py-2 px-5"
                        value="Salvar">
                </div>



            </div>
        </div>

    </div>

</div>

