@import '../../../assets/styles/global.scss';



.popupmenu{
  position: fixed;
  background-color: white;
	z-index: 999999;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	height: 500px;
	width: 400px;
	box-shadow: 0px 0px 6px 0px rgba(9, 9, 10, 0.3);
	border-radius: 10px;
	.pheader{
		height: 45px;
		background-color: $backgroundGrey;
		.close > span {
			color: $martinsRed;
		}
	}
	.pbody{
		.bodyBord{
			border-radius:10px;
			border:1px solid darken($backgroundGrey ,20%);
			height: 310px;
			overflow-y: scroll;

		}

		.table{
			border:1px solid $backgroundGrey !important;
			border-radius: 10px;
		}

		tr{
			transition: none;
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		  background-color: $martinsBlue;
		  color:black !important;
		  cursor: pointer;
		}
	}
}

/* .selected {
	background-color: $martinsBlue;
} */

