
<div class="login-background">
    <div class="login-banner">
        <img class="img-fluid" src="/assets/img/login-logo-banner.jpg" alt="">
    </div>
    <div class="container">
        <div class="login-header"></div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2 class="login-title">Simple<b>Pricing</b></h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div style="display:inline">
                            <label class="login-input-label">E-mail</label>
                            <div class="input-group">
                                <input class="form-control" type="text" name="email" formControlName="email" placeholder="&#xf1fa;" [ngClass]="{ 'is-invalid': submitted && form.email.errors }"/>
                            </div>
                        </div>
                    </div>
                    <div login="form-group">
                        <label class="login-input-label">Senha</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="&#xf023;" type="password" name="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }"/>
                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block button-login">
                                  Entrar
                                </button>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex justify-content-center">
                            <a href="#" class="login-link">Esqueci minha senha</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
