.login-background {
    background: #F1F2F3;

    /* background: linear-gradient(200deg, #F1F2F4 0%, #F1F2F4 60%, rgba(201,203,206,1) 100%); */
    min-height: 100vh;
}

.button-login {
    background:#4270C1;
    border-color: #4270C1;
}

input::placeholder{
    font-family:Arial, FontAwesome; 
    color: #4270C1;
  }

.login-title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #384461;
}

.login-header {
    height: 150px;
}

.login-input-label {
    color: #939495;
    font-weight: 500;
}

.login-link {
    color: #939495;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
}

.login-center {
    text-align: center;
}

.login-banner {
    background: #4170C0;
    height: 25px;
}

.login-banner img {
    display : block;
    margin : auto;
}
