@import '../../../assets/styles/mixins-var.scss';
@import '../../../assets/styles/global.scss';

.login-background {
    // background: #F1F2F3;
    background: linear-gradient(200deg, #F1F2F4 0%, #F1F2F4 60%, rgba(201,203,206,1) 100%);
    min-height: 100vh;
}

input::placeholder{
    font-family:Arial, FontAwesome; 
    color: $martinsBlue;
  }

.login-title {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}

.login-header {
    height: 150px;
}

.login-input-label {
    color: $martinsTextGrey;
    font-weight: 500;
}

.login-link {
    text-decoration: underline;
    @include center-bold
}

.login-banner {
    height: 25px;
}

.form-control {
    height: 2.5rem;
}
