<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h4>Composição do volume de vendas</h4>
      </div>
      <div class="col-12 d-flex">
        <ng-container>
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</div>
