<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h4>Composição do volume de vendas</h4>
      </div>
      <nav class="nav-chart">
        <div class="nav nav-pills" id="tabs" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" id="nav-week1" href="#tab-week1" role="tab">Semana 1</a>
            <a class="nav-item nav-link" data-toggle="tab" id="nav-week2" href="#tab-week2" role="tab">Semana 2</a>
            <a class="nav-item nav-link" data-toggle="tab" id="nav-week3" href="#tab-week3" role="tab">Semana 3</a>
            <a class="nav-item nav-link" data-toggle="tab" id="nav-week4" href="#tab-week4" role="tab">Semana 4</a>
            <a class="nav-item nav-link" data-toggle="tab" id="nav-week5" href="#tab-week5" role="tab">Semana 5</a>
        </div>
      </nav>
      <div class="col-12 tab-content">
        <div class="tab-pane fade show active" id="tab-week1" role="tabpanel"
        aria-labelledby="nav-week1">
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-week2" role="tabpanel" aria-labelledby="nav-week2">
          <div class="col-6 row">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
        <div class="tab-pane fade" id="tab-week3" role="tabpanel" aria-labelledby="nav-week3">
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
        <div class="tab-pane fade" id="tab-week4" role="tabpanel" aria-labelledby="nav-week4">
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
        <div class="tab-pane fade" id="tab-week5" role="tabpanel" aria-labelledby="nav-week5">
          <div class="col-6 d-flex">
            <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas>
          </div>
          <div class="col-6 d-flex">
            <!-- <canvas baseChart [datasets]="volumeCompositionChartData" [chartType]="volumeCompositionType"
            [plugins]="chartPlugins" chart-dataset-override="datasetOverride">
            </canvas> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
