<!-- Navigation Bar -->
<navegacion></navegacion>
<div class="background">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row">
          <div class="col-3">
              <div class="filter-diretriz">
                  <h5 class="title">Filtro</h5>
                  <div class="row">
                    <div class="form-group">
                        <label for="diretoria">Diretoria de Compras</label>
                        <select name="diretoria" id="diretoria" (change)="loadGroups()">
                          <option value="null">Selecione um item</option>
                          <option *ngFor="let opt of directories"  value="opt.DESDRTCLLATU">{{ opt.DESDRTCLLATU }} </option>
                        </select>
                    </div>

                  </div>
              </div>
          </div>

          <div class="col-md-12 main-container">
              <div class="tab-header">
                  <div class="margin-box-container">
                      <span class="date-box-info">Janeiro</span>
                      <span class="date-box-info">2020</span>
                  </div>
                  <div class="margin-info-sales">
                      <div class="margin-box-info">
                          <p class="label-info">Vendas Martins:</p>
                          <p class="content-info">R$ {{sumVLRVNDFATLIQ|number:'1.2-2'}}</p>
                      </div>
                      <div class="margin-box-info">
                          <p class="label-info">Margem Contribuição Martins:</p>
                          <p class="content-info">{{MRGCRB|number:'1.2-2'}}%</p>
                      </div>
                      <div class="margin-box-info">
                          <p class="label-info">Margem Bruta Martins:</p>
                          <p class="content-info"> {{MRGBRT|number:'1.2-2'}}%</p>
                      </div>
                  </div>
              </div>

              <div class="tab-content">
                  <div class="tab-pane container-tab custom-scrollbar-css fade show active" id="tab-diretrizes" role="tabpanel" aria-labelledby="nav-composicao-preco">
                      <table class="table">
                          <tr class="table-head">
                              <th class="th-center table-head-row">Data</th>
                              <th></th>
                              <th class="th-center table-head-row">Mês</th>
                              <th></th>
                              <th class="th-center table-head-row">Subcategoria de Produto</th>
                              <th></th>
                              <th class="th-center table-head-row">Categoria de Produto</th>
                              <th></th>
                              <th class="th-center table-head-row">Grupo Produto</th>
                              <th></th>
                              <th class="th-center table-head-row">Célula de Compras</th>
                              <th></th>
                              <th class="th-center table-head-row">Fornecedor</th>
                              <th></th>
                              <th class="th-center table-head-row">Filial</th>
                              <th></th>
                              <th class="th-center table-head-row">UF</th>
                              <th></th>
                              <th class="th-center table-head-row">Valor Venda</th>
                              <th></th>
                              <th class="th-center table-head-row">Receita Líquida</th>
                              <th></th>
                              <th class="th-center table-head-row">Margem de Contribuição</th>
                              <th></th>
                              <th class="th-center table-head-row">Margem Bruta</th>
                              <th></th>
                          </tr>
                          <tr *ngFor="let items of diretrizesEstrategicas">
                              <td>{{items.DATREFPOD.split(" ")[0]}}</td>
                              <td></td>
                              <td>{{items.NOMMES}}</td>
                              <td></td>
                              <td>{{items.DESCLSMER}}</td>
                              <td></td>
                              <td>{{items.DESFMLMER}}</td>
                              <td></td>
                              <td>{{items.DESGRPMER}}</td>
                              <td></td>
                              <td>{{items.DESCLLCMPATU}}</td>
                              <td></td>
                              <td>{{items.NOMFRN}}</td>
                              <td></td>
                              <td>{{items.CODFIL}}</td>
                              <td></td>
                              <td>{{items.CODESTUNI}}</td>
                              <td></td>
                              <td>{{items.VLRVNDFATLIQ}}</td>
                              <td></td>
                              <td>{{items.VLRRCTLIQAPU}}</td>
                              <td></td>
                              <td>{{items.VLRMRGCRB}}</td>
                              <td></td>
                              <td>{{items.VLRMRGBRT}}</td>
                              <td></td>

                          </tr>
                      </table>
                  </div>
              </div>

          </div>
      </div>
    </div>
  </div>

</div>
