<!-- Navigation Bar -->
<navegacion></navegacion>


<div class="background">
  <div class="row">
    <div class="col-12">
      <div class="row">
          <div class="col-3">
              <div class="filter-diretriz">
                  <h5 class="title">Filtro</h5>
                  <p>Linha de Negócio</p>
                  <div class="row filter-columns">
                      <div class="col-4 border-filter">
                          <img src="assets/img/diretriz-estrategica/drink-can.svg">
                          <h2>ABB</h2>
                      </div>
                      <div class="col-4 border-filter">
                          <img src="assets/img/diretriz-estrategica/smartphone.svg">
                          <h2>TEI</h2>
                      </div>
                      <div class="col-4 border-filter">
                          <img src="assets/img/diretriz-estrategica/soap.svg">
                          <h2>HBL</h2>
                      </div>
                      <div class="col-4 border-filter">
                          <img src="assets/img/diretriz-estrategica/hammer.svg">
                          <h2>MTC</h2>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-9 main-container">
              <div class="tab-header">
                  <div class="margin-box-container">
                      <span class="date-box-info">Janeiro</span>
                      <span class="date-box-info">2020</span>
                  </div>
                  <div class="margin-info-sales">
                      <div class="margin-box-info">
                          <p class="label-info">Vendas Martins:</p>
                          <p class="content-info">R$ 1.000.000</p>
                      </div>
                      <div class="margin-box-info">
                          <p class="label-info">Margem Contribuição Martins:</p>
                          <p class="content-info">21%</p>
                      </div>
                      <div class="margin-box-info">
                          <p class="label-info">Margem Bruta Martins:</p>
                          <p class="content-info"> 21%</p>
                      </div>
                  </div>
              </div>

              <div class="tab-content">
                  <div class="tab-pane container-tab custom-scrollbar-css fade show active" id="tab-diretrizes" role="tabpanel" aria-labelledby="nav-composicao-preco">
                      <table class="table">
                          <tr class="table-head">
                              <th class="th-center table-head-row">Data</th>
                              <th></th>
                              <th class="th-center table-head-row">Mês</th>
                              <th></th>
                              <th class="th-center table-head-row">Subcategoria de Produto</th>
                              <th></th>
                              <th class="th-center table-head-row">Categoria de Produto</th>
                              <th></th>
                              <th class="th-center table-head-row">Grupo Produto</th>
                              <th></th>
                              <th class="th-center table-head-row">Célula de Compras</th>
                              <th></th>
                              <th class="th-center table-head-row">Fornecedor</th>
                              <th></th>
                              <th class="th-center table-head-row">Filial</th>
                              <th></th>
                              <th class="th-center table-head-row">UF</th>
                              <th></th>
                              <th class="th-center table-head-row">Valor Venda</th>
                              <th></th>
                              <th class="th-center table-head-row">Receita Líquida</th>
                              <th></th>
                              <th class="th-center table-head-row">Margem de Contribuição</th>
                              <th></th>
                              <th class="th-center table-head-row">Margem Bruta</th>
                              <th></th>


                          </tr>
                          <tr *ngFor="let items of diretrizesEstrategicas">
                              <td>{{items.DATREFPOD}}</td>
                              <td></td>
                              <td>{{items.NOMMES}}</td>
                              <td></td>
                              <td>{{items.DESCLSMER}}</td>
                              <td></td>
                              <td>{{items.DESFMLMER}}</td>
                              <td></td>
                              <td>{{items.DESGRPMER}}</td>
                              <td></td>
                              <td>{{items.DESCLLCMPATU}}</td>
                              <td></td>
                              <td>{{items.NOMFRN}}</td>
                              <td></td>
                              <td>{{items.CODFIL}}</td>
                              <td></td>
                              <td>{{items.CODESTUNI}}</td>
                              <td></td>
                              <td>{{items.VLRVNDFATLIQ}}</td>
                              <td></td>
                              <td>{{items.VLRRCTLIQAPU}}</td>
                              <td></td>
                              <td>{{items.VLRMRGCRB}}</td>
                              <td></td>
                              <td>{{items.VLRMRGBRT}}</td>
                              <td></td>

                          </tr>
                      </table>
                  </div>
              </div>

          </div>
      </div>
    </div>
  </div>

</div>
