<div class="barWidth">
  <div class="row justify-content-between">

    <div class="col-4">

      <ul *ngIf="isLoggedIn" class="nav mt-2 mb-2 col">
        <li class="nav-item">
          <app-technical-menu *ngIf="userTechnical"></app-technical-menu>
          <app-business-menu *ngIf="!userTechnical"></app-business-menu>

        </li>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{section}}</a>
      </ul>
    </div>
    <div class="col-auto"></div>

    <div class="col-4">
      <ul class="notfiConfigList nav mt-2 mb-2">
        <li class="bellIcon nav-item" (click)="notifyOpen()">
          <i class="menuIcon far fa-bell"></i>
          <div class="myBadge bg-martins-blue ">
            <p class="bg-white text-center">{{numAprob + numNotif }} </p>
          </div>
        </li>
        <li class="configIcon nav-item" (click)="triggerShowBMenu()"> <i class="menuIcon fas fa-cog"></i>
        <li class="logoIcon nav-item"><img src="../../../assets/img/logo-nav.jpg" /></li>
        <li class="logoIcon2 nav-item m-0 mt-2"><img src="../../../assets/img/login-logo.jpg" /></li>
        <li><a href="#" class="nav-link color-martins-blue" (click)="logout()"><i class="fas fa-sign-out-alt color-martins-blue"></i> Sair</a></li>

      </ul>
    </div>
  </div>
</div>







<div id="notificationPopUp" class="notificationPopUp">

  <div class="notificationTitle text-center">
    <h4 class="font-weight-bold">pendências</h4>
  </div>


  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

    <a class=" itemtab nav-item nav-link active col-xs-6 " id="nav-home-tab" data-toggle="tab" href="#nav-home"
      role="tab" aria-controls="nav-home" aria-selected="true"><span class="font-weight-bold color-martins-blue">{{numNotif}}
      </span>notificações</a>
    <a class=" itemtab nav-item nav-link col-xs-6" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
      aria-controls="nav-profile" aria-selected="false"><span class="font-weight-bold color-martins-blue">{{numAprob}} </span>aprovações</a>

  </div>


  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="notificationBody">

        <ul class="notificationlist">
          <div id="notif" aria-labelledby="nav-home-tab">

            <li class="notificationItem">

              <div class="notiWrapp w-100 px-3 py-0 mr-0 mt-3">

                <div class="mod1" (click)="toggleDetail()">

                  <div class="titleMod">
                    <div class="row">
                      <div class="col col-lg-9">
                        <p class="title font-weight-bold">Rebate a Vencer 2 <span class="complete font-weight-bold color-martins-blue"></span></p>
                      </div>
                      <div class="col col-lg-3">
                        <p class="text-right">Há 4h</p>
                      </div>
                    </div>
                  </div>
                  <div class="descriptionMod pb-1">
                    <p class="text-uppercase mb-1" *ngIf="!showDetail" @ngIfAnimation>ACHOC.NESCAU 2.0 ACTIG 30X400G</p>

                    <table class="table table-sm detProd borderless" *ngIf="showDetail" @ngIfAnimation>
                      <thead>
                        <tr>
                          <th class="font-weight-normal border-0" scope="col">Produto</th>
                          <th class="font-weight-normal border-0" scope="col">Exped.</th>
                          <th class="font-weight-normal border-0" scope="col">Fatura</th>
                          <th class="font-weight-normal border-0" scope="col">Reg.P.</th>
                          <th class="font-weight-normal border-0" scope="col">Emissão</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-2 border-0 text-center">1601215</td>
                          <td class="p-2 border-0 text-center">SP</td>
                          <td class="p-2 border-0 text-center">SP</td>
                          <td class="p-2 border-0 text-center">33</td>
                          <td class="p-2 border-0 text-center">31/12//2020</td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>
                <div class="row" *ngIf="showDetail" @ngIfAnimation>
                  <div class="col-xs-6 col-md-6">
                    <button class="btn btn-info btn-block btn-md verif font-weight-bold bg-martins-blue">Atuar</button>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <button class="btn btn-info btn-block btn-md verif font-weight-bold bg-martins-blue border-right-0">Excluir</button>
                  </div>
                </div>
              </div>


            </li>

            <li class="notificationItem">
              <div class="notiWrapp">
                <div class="mod1">
                  <div class="titleMod">
                    <div class="row">
                      <div class="col col-lg-9">
                        <p class="title font-weight-bold">Diretriz estratégica declinada <span class="complete color-martins-blue"> 2/5</span></p>
                      </div>
                      <div class="col col-lg-3">
                        <p class="text-right">Há22h</p>
                      </div>
                    </div>
                  </div>
                  <div class="descriptionMod pb-1">
                    <p class="text-uppercase mb-1">COPO AMERICANO AGUA 190ML 2010 24X1</p>
                  </div>
                </div>
              </div>
            </li>

            <li class="notificationItem">
              <div class="notiWrapp">
                <div class="mod1">
                  <div class="titleMod">
                    <div class="row">
                      <div class="col col-lg-9">
                        <p class="title font-weight-bold">Rebate a Vencer<span class="complete color-martins-blue"> </span></p>
                      </div>
                      <div class="col col-lg-3">
                        <p class="text-right">Há 1d 8h</p>
                      </div>
                    </div>
                  </div>
                  <div class="descriptionMod pb-1">
                    <p class="text-uppercase mb-1">ACHOC. NESCAU 2.0 ACTIG 30X400G</p>
                  </div>
                </div>
              </div>
            </li>

            <div class="nonotif py-3 px-0">
              <p class="text-center mb-0">não há mais notificações</p>
            </div>

          </div>


        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="notificationBody">

        <ul class="notificationlist">

          <div id="notif" aria-labelledby="nav-home-tab">
            <li class="notificationItem">
              <div class="notiWrapp">
                <div class="titleMod">
                  <div class="mod1" (click)="toggleDetail()">
                    <div class="row">
                      <div class="col col-lg-9">
                        <p class="title font-weight-bold">Suzi Cristina <span class="complete color-martins-blue">1/5</span></p>
                      </div>
                      <div class="col col-lg-3">
                        <p class="text-right">Há 4h</p>
                      </div>
                    </div>
                  </div>
                  <div class="descriptionMod pb-1">
                    <p class="text-uppercase mb-1" *ngIf="!showDetail" @ngIfAnimation>ACHOC.NESCAU 2.0 ACTIG 30X400G</p>
                    <table class="table table-sm detProd borderless" *ngIf="showDetail" @ngIfAnimation>
                      <thead @easeInOut>
                        <tr>
                          <th class="font-weight-normal border-0" scope="col">Produto</th>
                          <th class="font-weight-normal border-0" scope="col">Exped.</th>
                          <th class="font-weight-normal border-0" scope="col">Fatura</th>
                          <th class="font-weight-normal border-0" scope="col">Reg.P.</th>
                          <th class="font-weight-normal border-0" scope="col">Emissão</th>
                        </tr>
                      </thead>
                      <tbody @easeInOut>
                        <tr>
                          <td class="p-2 border-0 text-center">1601215</td>
                          <td class="p-2 border-0 text-center">SP</td>
                          <td class="p-2 border-0 text-center">SP</td>
                          <td class="p-2 border-0 text-center">33</td>
                          <td class="p-2 border-0 text-center">31/12//2020</td>
                        </tr>

                      </tbody>
                    </table>

                  </div>

                </div>
              </div>
              <button class="btn btn-info btn-block btn-sm verif font-weight-bold bg-martins-blue" *ngIf="showDetail" @easeInOut>Verificar</button>
            </li>



            <div class="nonotif py-3 px-0">
              <p class="text-center mb-0">não há mais notificações</p>
            </div>

          </div>


        </ul>
      </div>
    </div>

  </div>
