// UNIFICAR VARIABLES EN NAVEGACION Y MENU .SCSS
@import '../../../assets/styles/global.scss';
$color-prim:#737373;
$color-prim-light:#9FA2AB;
$color-prim-light2:#E7E9F1;

$mobile : 350px;
$tablet : 770px;
$desktop : 3000px;

.custom-container {
    height: 70px;
    margin-left: 150px;
}

.nav-link.disabled{
    color: #9FA2AB;
}

.barWidth{
	width: 78%;
	margin:0 auto;
}

.menuIcon{
	color:lighten($color-prim-light,10%);
	padding:5px;
	font-size:23px;
}

.notfiConfigList{
	list-style: none;
	align-items: right;
	//margin-left: 100px;
	@media (min-width: 0px) and (max-width: 1000px) {
	  margin-left: 10px;
	}


	.nav-item{
		display: inline-block;
		margin-right: 10px;
		@media  (max-width: $tablet) {
		  padding:1px;
		  margin-right:0px;
		}
		i{
			padding:12px 12px 0px 12px;
			transition:1s;
			cursor:pointer;
		}
		&:hover i{
			color:$martinsBlue !important;
			transition:1s;
		}
		&.bellIcon{
			position: relative;
			.myBadge{
				border-radius:42%;
				position: absolute;
				height: 17px;
				width: 20px;
				top:5px;
				right:-3px;
				opacity:0.95;
				p {
					font-size: 12px;
					margin-top:-1px;
				}
			}
		}
		&.logoIcon{
			display: none;
			@media (min-width: $tablet) and (max-width: $desktop) {
			  display: inline-block;
			}
			img{
				width: 140px;
			}
		}
		&.logoIcon2{
			display: none;
			@media (min-width: 0px) and (max-width: $tablet) {
			  display: inline-block;
			}
			img{
				width: 40px;
			}
		}

	}
}

// BOOTSTRAP REPLACE


	.itemtab{
		font-size: 14px !important;
	}



.notificationPopUp{
	z-index:999;
	box-shadow:  1px 5px 11px 0px rgba(100, 100, 100, 0.3);
	position: absolute;
	top:70px;
	right:330px;
	display: none;
	width: 400px;
	background: $color-prim-light2;
	border-radius:3px;
	@media  (min-width: 0px) and (max-width: 900px){
		transition:1s;
		left:0px;
		width: 92%;
		margin:25px;

	}
	.notificationTitle{
		height: 45px;
		padding:13px;
		h4{
			color:$color-prim;
			font-size:15px;

		}
	}

	.notificationBody{
		height: auto;
		background: white;
		box-shadow:  1px 5px 11px 0px rgba(100, 100, 100, 0.3);
		overflow-y: scroll;

		.notificationlist{
				list-style: none;
				padding:15px;
			.notificationItem{

				.notiWrapp{
				font-size: 12px;
				color:$color-prim;
				background-color: #EAEFF8;
				border-radius: 5px;
				cursor: pointer;
				.titleMod{

					.title{
						font-size:13.5px;
					}
				}

				.descriptionMod{
					position: relative;
					.detProd{
						padding:10px;
						td,  th {
							color:$color-prim;
						}
						td{
							border-radius:5px !important;
							background:#F7F8FB;
							border-right:1px solid #E7E9F1;
						}
					}
				}
			}
		}
			.nonotif{
				p{
					font-size: 12px;
					color:$color-prim;
				}
			}

		}
	}

}

.logout-menu {
  padding-left: 170px;
}
