@import './mixins-var.scss';

*:not(.fas) {
    font-family: 'Raleway', sans-serif;
}

*:not(input){
    color: $martinsTextGrey;
}

.text-header {
    font-weight: 800;
}

.background {
    background: $backgroundGrey;
}

button#dropdownMenuButton {
    background-color: white;
    border: 1px solid #D0D1D6;
    border-radius: .25rem;

    &:focus:not(.list-header) {
    border: 2px solid $martinsBlue;
    }
}

#precio-container {
    height: 100vh;
}

.form-control:focus,
.show>.btn-light.dropdown-toggle:focus {
   /*  color: #495057;
    background-color: #fff; */
    border-color: $martinsBlue;
    border: 1px solid $martinsBlue;
    // outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(66, 112, 193, 1);
}
