@import './mixins-var.scss';

*:not(.fas):not(.far) {
    font-family: 'Raleway', sans-serif;
}
.table td {
  font-size: 11pt
}

*:not(input){
    color: $martinsTextGrey;
}

.text-header {
    font-weight: 800;
}

.background {
    background: $backgroundGrey;
}

.bg-martins-blue {
    background-color: $martinsBlue;
}

.color-martins-blue {
    color: $martinsBlue;
}

.color-martins-darkblue {
    color: $martinsDarkBlue;
}
/*------------*/

button.dropdownMenuButton {
    background-color: white;
    border: 1px solid #D0D1D6;
    border-radius: .40rem;
    font-size:13px;
    &:focus:not(.list-header) {
    border: 2px solid $martinsBlue;
    }
}


.dropdown-toggle:after{
    /* position: relative;
    top: 0.5rem; */
    float: right;
    color: $martinsBlue;
}

.dropdown-menu {
    min-width: 100%;
}
.dropdown-item {
    padding: .25rem 1.5rem !important;
}

#precio-container {
    height: 100vh;
}

.form-control{
     border-radius: .35rem !important;
     font-size:13px;

}
.form-group{
    padding: 0px 5px !important;
}

.form-control:focus,
.show>.btn-light.dropdown-toggle:focus {
   /*  color: #495057;
    background-color: #fff; */
    border-color: $martinsBlue;
    border: 1px solid $martinsBlue;

    // outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(66, 112, 193, 1);
}


.menu-background {
    background: $backgroundGrey;
    height: 100vh;
    padding:0px;
}


.title{
    color:$navMenuTextGrey;
    padding:3px;
    font-size: 17px !important;
}

.subtitlab{
    color:$navMenuIconGrey;
    padding:0px;
    font-size: 14px !important;
    font-weight: 700;
    &.darkbl{
        color:$martinsDarkBlue;
    }
    &.darkgr{
        color:$martinsTextGrey;
    }
    &.lightbl{
        color:$martinsBlue;
    }
}
.martinsText{
   color:$navMenuIconGrey;
   padding:3px;
   font-size: 13.5px !important;
   margin-bottom: 0px;
}

.martinsLabel{
    color:$navMenuTextGrey;
    padding:0px;
    font-size: 12.5px !important;
    font-weight: 700;
}

/**--buttons--*/

@mixin inverted-btn {
    background-color: transparent;
    color: $martinsBlue;
    border: 1.5px solid;
}

.btn.bg-standard {
    background-color: $martinsBlue;
    color: white;
    border: 3px solid $martinsBlue;
    &[disabled]{
        @include inverted-btn;
    }
}
.mySelect{
    background-color: $martinsBlue !important;
}

.btn.bg-inverted{
    @include inverted-btn;
}

.btn-pventa{
    font-size: 13px;
}

.btn-labeled{

    margin-top: 30px !important;
    height: 30px;
    padding: 2px;
}

.btn-grey{
  color:$martinsTextGrey !important;
}

.selectedItem{
  background-color: darken($martinsBlue , 5%) !important;
      td{
        color:white!important;
    }
}

.selectedTextItem{
  font-weight: 700 !important;
  color:$martinsBlue !important;
}

.martins-pointer {
    cursor: pointer;
}

i.fas.fa-search.disabledSearch {
    color: gray;
}

.fas.fa-search:hover{
    @extend .color-martins-blue;
    @extend .martins-pointer;
}

/*---green checkbox for condicion, sacceso, pventa, preciobase---*/
.custom-control-input:checked~.custom-control-label::before {
    border-color: #009966;
    background-color: #009966;
}

.custom-checkbox .custom-control-label::before {
    border: 2px solid #009966 !important;
    background-color: transparent;
}
/*---table borders for popupmenu & selectpopupcondicion---*/
.table-border-right {
    border-radius: 0 10px 10px 0; border: 2px solid transparent;
}

.table-border-left {
    border-radius: 10px 0 0 10px; border: 2px solid transparent;
}
// ----- custom scrollbar for whole app -------
// change 'height' as needed
// in the styles of the corresponding component

.martins-scrollbar {
    /*styles for Firefox*/
    scrollbar-color: #384461  #eee;
    scrollbar-width: thin;
  }

  .martins-scrollbar {
    overflow-y: scroll;
  }

    /*-----styles for Chrome and Safari-----*/
  /* scrollbar width */
  .martins-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* scrollbar track */
  .martins-scrollbar::-webkit-scrollbar-track {
    background: #eee;
  }

  /* scrollbar handle */
  .martins-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #384461;
  }


   /* click popup menu and table */
  .mySelect{
    background-color: $martinsBlue !important;
      td{
          color:white !important;
      }
  }
