<!-- Navigation Bar -->
<!-- <navegacion (navOutput)="parentListenerNavbar($event)"></navegacion> -->
<navegacion></navegacion>
<!-- Div usuario Business -->
<div class="container menu-background">
  <div class="businessContainer p-4 w-100" *ngIf="bBusiness && isShowMenu">
    <div class="bcard bg-white">
      <h5 class="title">Meu perfil</h5>
      <div class="p-3 row">
        <div class="form-group col-xs-12 col-md-3">
          <label for="nombre" class="martinsLabel control-label">Nome</label>
          <input type="text" value='' class="form-control" name="nombre" id="nombre" placeholder="Nome">
        </div>
        <div class="form-group col-xs-12 col-md-3">
          <label for="sobrenombre" class="martinsLabel control-label">Sobrenome</label>
          <input type="text" value='' class="form-control" name="sobrenombre" id="sobrenombre" placeholder="Sobrenome">
        </div>
        <div class="form-group col-xs-12 col-md-2">
          <label for="email" class="martinsLabel control-label">E-mail</label>
          <input type="email" value='' class="form-control" name="email" id="mail" placeholder="E-mail">
        </div>
        <div class="form-group col-xs-12 col-md-2">
          <label for="telefono" class="martinsLabel control-label">Telefone</label>
          <input type="tel" value='' class="form-control" name="telefono" id="tel" placeholder="Telefone">
        </div>
        <div class="input-group flex-nowrap col-xs-12 col-md-2">
          <button class="btn bg-standard btn-labeled btn-block btn-md btn-pventa">Salvar</button>
        </div>
      </div>
    </div>
    <div class="bcard bg-white">
      <h5 class="title">Mudar Senha</h5>
      <div class="p-3 row">
        <div class="form-group col-xs-12 col-md-3">
          <label for="contraAnt" class="martinsLabel control-label">Senha Atual</label>
          <input type="password" value='' class="form-control" name="contraAnt" id="contra" placeholder="Senha Atual">
        </div>
        <div class="form-group col-xs-12 col-md-3">
          <label for="contra" class="martinsLabel control-label">Senha Nova</label>
          <input type="password" value='' class="form-control" name="contra" id="contranueva" placeholder="Senha Nova">
        </div>
        <div class="form-group col-xs-12 col-md-3">
          <label for="repcontra" class="martinsLabel control-label">Confirmar Senha</label>
          <input type="password" value='' class="form-control" name="repcontra" id="contranuevarep"
            placeholder="Confirmar Senha Nova">
        </div>
        <div class="input-group flex-nowrap col-xs-12 offset-md-1 col-md-2">
          <button class="btn bg-standard btn-labeled btn-block btn-md btn-pventa">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.bBusiness">

  </div>
  <div>
  </div>
</div>

<!-- MODAL BIENVENIDA -->

<div class="modalBienvenida text-center bg-white px-3 py-2" [hidden]="modalView" *ngIf="!bBusiness">
  <button type="button" class="border-0 bg-white px-2 py-3 float-right" aria-label="Close" (click)="closeWelcome()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modalWrapper p-5">
    <div class="modalIcons my-2 mx-auto">
      <div class="circle rounded-circle w-100">
      </div>
      <div class="exclam">
        <i class="badgeIcon fas fa-exclamation"></i>
      </div>
      <div class="circleNum bg-martins-blue">
        <span class="badgeIcon">{{numTotNotif}}</span>
      </div>
    </div>
    <div class="modalMsg">
      <h3 class="msg1">Seja Bem-vindo {{this.sCurrentUser.username || ''}}!</h3>
      <p class="msg2">Vocé tem <span class="font-weight-bold"></span> que precisam da sua
        atenção </p>
    </div>
    <div class="modalBut">
      <button class="color-martins-blue border-0" (click)="closeWelcome()"><i class="fas fa-minus-square"></i> Agora
        não</button>
    </div>
  </div>
</div>