@import '../../../assets/styles/global.scss';
@import '../../../assets/styles/mixins-var.scss';
// GENERAL

.alert {
    display: block;
    width:40%;
    margin-left: auto;
    margin-right: auto;
 }



// CONTAINER BUSINESS
.businessContainer{
	height: 100%;

	.bcard {
		font-size: 11px;
		box-shadow: 0px 0px 6px 0px rgba(9, 9, 10, 0.1);
		padding:30px;
		margin-bottom:20px;
		border-radius:5px;
		height: auto;
	}

}




// MODAL BIENVENIDA

 .modalBienvenida{
 	width: 90%;
 	max-width: 500px;
 	position: absolute;
 	top:50%;
 	left:50%;
 	transition:2s;
 	transform: translate(-50%,-50%);
 	box-shadow: 0px 0px 6px 0px rgba(9, 9, 10, 0.3);

 	.modalWrapper{
 		.modalIcons{
			height: 80px;
			width: 80px;
			position: relative;
 			.circle{
 				height: 100%;
				border:5px solid $martinsTextGrey;
				position: relative;
 			}
			.exclam{
				position: absolute;
				top:20%;
				right:38%;
				i{
					font-size: 50px;
					color:$navMenuIconGrey;
				}
			}


 			.circleNum{
	 				border-radius:50%;
	 				position: absolute;
	 				height: 25px;
	 				width: 25px;
	 				top:-10px;
	 				right:-7px;

	 			.badgeIcon{
					font-size: 15px;
					color:white;
	 			}
 			}

 		}
 		.modalMsg{
 			.msg1{
 				color:$martinsTextGrey;
 				font-size:24px;

 			}
 			.msg2{
				color:$navMenuIconGrey;
 			}

 		}
 		.modalBut{
 			button{
 				background-color: transparent;
 			}

 		}
 	}

 }

 .pricing-presentation {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
   .logo-martins-expandido {
     background-image: url('/assets/img/martins.svg');
     background-size: cover;
     min-height: 200px;
     min-width: 260px;
     max-height: 360px;
     max-width: 450px;
   }
   .main-title {
     margin-top: 10%;
     .pricing-welcome {
       color:black;
     }
   }
   .pricing-types {
     padding: 10px;
     border: 1px solid transparent;
     margin-top: 30px;
   }

   .wrapper-subtitle {
     .pricing-subtitle {
       color:black;
     }
   }

   .type-wrappers {
     display: flex;
     justify-content: space-between;
     width: 50%;
     margin: 20px;
     .analitica {
       background-color: #F0A001;
       border-radius: 10px;
       color: #FEFACE;
     }
     .dinamica {
       border-radius: 10px;
       background-color: #00AFEC;
       color: #FEFACE;
     }
   }

 }
