    <div class="container flex-column d-flex align-items-center col-12"> 
            <div class="row col-6 align-items-center flex-column justify-content-center">
                <span class="text-header">Seleccione o canal de vendas</span>
                <div class="dropdown col-6 mt-3">
                    <button class="col-12 btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Descricao
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item">Televendas</button>
                        <button class="dropdown-item">B2B</button>
                        <button class="dropdown-item">Presencial</button>
                    </div>
                </div>
            </div>
            <div class="row col-6 align-items-center flex-column justify-content-center">
                <span class="text-header">Seleccione a linha de negocio</span>
                <div class="dropdown col-6 mt-3">
                    <button class="col-12 btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Descricao
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item">TEI</button>
                        <button class="dropdown-item">ABB</button>
                        <button class="dropdown-item">HBL</button>
                        <button class="dropdown-item">MTC</button>
                    </div>
                </div>
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
            </div>
            <div class="col-2 form-group">
                <input type="submit" (click)="goToPbase()" class="btn btn-primary btn-block button-save" value="Entrar">
            </div>
    </div>     
