@import '../../../assets/styles/global.scss';
@import '../../../assets/styles/condicion-sacceso.scss';

.btn-filter-color {
    color: white;
}

.buttons {
  flex-direction:row;
  justify-content: flex-end;
}
