<!-- Navigation Bar -->
<navegacion></navegacion>
<div class="background">
  <div class="container col-9 main-container">
    <div class="row">
      <div class="container col-12 pb-5 pt-5 d-flex justify-content-start">
          <button type="button" class="btn button-save btn-filter-color" (click)="filter()"><i
                  class="fas fa-filter btn-filter-color"></i>&nbsp;Filtro</button>
          <div class="applied-filters"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <span class="badge badge-secondary">Janeiro</span>
          <span class="badge badge-secondary">2020</span>
        </div>
        <div class="row d-flex flex-content-between">
          <div class="col-8 ">
            <div class="row">
              <infolet title="Verba necessária" symbol="R$" value="900"></infolet>
              <infolet title="Verba Disponível" symbol="R$" value="700"></infolet>
              <infolet title="Verba Alocada" symbol="R$" value="682"></infolet>
              <infolet title="Estoque" symbol="R$" value="12.0K"></infolet>
            </div>
          </div>
          <div class="col-4 d-flex flex-column justify-content-end">
            <div class="buttons d-flex">
              <button class="btn btn-primary">Otimizar</button>
              <button class="btn btn-outline-primary">Aceitar Verba</button>
            </div>
          </div>
        </div>
        <div class="row">
          <simulador-datatable></simulador-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
