<!-- Navigation Bar -->
<navegacion></navegacion>

<div class="background">
  <div class="container col-9 main-container">
    <div class="row">
      <div class="container col-12 pb-5 pt-5 d-flex justify-content-start">
          <button type="button" class="btn button-save btn-filter-color" (click)="filter()"><i
                  class="fas fa-filter btn-filter-color"></i>&nbsp;Filtro</button>
          <div class="applied-filters"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row pb-2">
          <span class="badge badge-custom p-2">Janeiro</span>
          <span class="badge badge-custom p-2">2020</span>
        </div>
        <div class="row d-flex flex-content-between">
          <div class="col-8 ">
            <div class="row">
              <infolet title="Verba necessária" symbol="R$" value="900"></infolet>
              <infolet class="ml-lg-2" title="Verba Disponível" symbol="R$" value="700" (click)="showVerbaDetails()"></infolet>
              <infolet class="ml-lg-2" title="Verba Alocada" symbol="R$" value="682"></infolet>
              <infolet class="ml-lg-2" title="Estoque" symbol="R$" value="12.0K"></infolet>
            </div>
          </div>
          <div class="col-4 d-flex flex-column justify-content-end">
            <div class="buttons d-flex">
              <button class="btn btn-primary button-save btn-filter-color">Otimizar</button>
              <button class="btn btn-outline-mrt" (click)="confirmAcceptance()">Aceitar Verba</button>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <simulador-datatable></simulador-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<filter-modal></filter-modal>
<modal-detailing></modal-detailing>
<confirmation-modal></confirmation-modal>
