<!-- Navigation Bar -->
<!-- <navegacion [cMode]="bCreateMode"></navegacion> -->
<navegacion></navegacion>
<popupmenu *ngIf="bpopMenu" (closePopup)="onCloseChaveContasPopUp($event)" (selectedObject)="getSelectedChaveContas($event)" [dataList]="this.chaveContas" ></popupmenu>
<select-popup-condicion *ngIf="bSelectCondicao" (closePopup)="onCloseCondicaoPopUp($event)" (selectedObject)="getSelectedCondicao($event)" [dataList]="this.condicaos"></select-popup-condicion>

<ngx-spinner></ngx-spinner>

<!--Component Content -->
<div class="container background p-0">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-light border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Condição</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Condição salva com sucesso!
            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0">
              <button type="button" class="btn bg-standard" (click)="closePopUp()">Ok</button>
            </div>
          </div>
        </div>
    </div>
    <div class="container row col-12 p-4">
        <div class="col-sm-2">
            <span class="text-header">Cód. Condição</span>
            <input class="form-control mt-3" value="TBNC" [(ngModel)]="condicion.cod_condicao" readonly/>
        </div>
        <div class="col-sm-3 p-0">
            <span class="text-header">Descrição da condição</span>
            <input class="form-control mt-3" [(ngModel)]="condicion.desc_condicao" value="Beneficio customizado" [ngClass]="{ 'is-invalid': !condicion.desc_condicao }" />
        </div>
        <div *ngIf="bCreateMode"  class="col-sm-1 mt-5 mb-2 d-flex justify-content-center align-items-center">
            <i class="fas fa-search disabledSearch"></i>
        </div>
        <div *ngIf="!bCreateMode" class="col-sm-1 mt-5 mb-2 d-flex justify-content-center align-items-center">
            <i (click)="onSearchCondicao()" class="fas fa-search"></i>
        </div>
        <div class="col-sm-3">
            <span class="text-header">Atribua à camada</span>
            <div class="dropdown col-10 p-0 mt-3" >
                <button class="col-12 d-flex justify-content-between align-items-center btn btn-light dropdown-toggle bg-white border rounded" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    {{this.condicion.camada.nome_camada != '' ? this.condicion.camada.nome_camada : this.sSeleccionCamadaPlaceholder}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let ca of camadas ; let id = index" class="dropdown-item" (click)="getSelectedCamada(ca)">{{ca.nome_camada}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container row col-12 p-4">
        <div class="col-sm-2">
            <span class="text-header">Chave de contas</span>
            <input *ngIf="condicion.chavecontas.cod_chavecontas != ''" [(ngModel)]="condicion.chavecontas.cod_chavecontas" class="form-control mt-3" placeholder="Chave" readonly/>
            <input *ngIf="condicion.chavecontas.cod_chavecontas === ''" class="form-control mt-3" readonly/>
        </div>
        <div class="col-sm-3 p-0">
            <span class="text-header">Descrição da chave de contas</span>
            <input *ngIf="condicion.chavecontas.desc_chavecontas != ''" [(ngModel)]="condicion.chavecontas.desc_chavecontas" class="form-control mt-3" readonly/>
            <input *ngIf="condicion.chavecontas.desc_chavecontas === ''" class="form-control mt-3" readonly/>
        </div>
        <div class="col-sm-1 mt-5 mb-2 d-flex justify-content-center align-items-center">
            <i (click)="onSearchChaveContas()" class="fas fa-search"></i>
        </div>
        <div class="col-sm-2">
            <span class="text-header">Tipo de valor</span>
            <div class="dropdown mt-3">
                <button class="d-flex justify-content-between align-items-center btn btn-light dropdown-toggle valor-dropdown bg-white border rounded" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this.condicion.tipovalor.cod_tipovalor != '' ? this.condicion.tipovalor.desc_tipovalor : this.sSeleccionPlaceholder}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let tp of tipoValor ; let id = index" class="dropdown-item" (click)="getSelectedTipoValor(tp)">{{tp.desc_tipovalor}}</a>
                </div>
            </div>
        </div>
        <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <span class="text-header">Escala por qtd.</span>
            <div class="custom-control pl-3 custom-checkbox mt-2 mb-2">
                <input (click)="checkEscalaValue()" type="checkbox" [(ngModel)]="this.condicion.Escala_Qtde" class="custom-control-input" id="checkEscala">
                <label class="pl-4 custom-control-label" for="checkEscala" id="checkEscalaLabel"></label>
            </div>
        </div>
        <div class="d-flex justify-content-between border rounded col-2 p-0">
            <div class="col-12 d-flex justify-content-center p-0 bg-white">
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <span class="text-header">Positivo</span>
                    <div class="custom-control pl-3 custom-checkbox mb-2">
                        <input type="checkbox" (click)="checkPosNeg($event)" class="custom-control-input" id="checkPositivo">
                        <label class="pl-4 custom-control-label" for="checkPositivo" id="checkPositivoLabel"></label>
                    </div>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <span class="text-header">Negativo</span>
                    <div class="custom-control pl-3 custom-checkbox mb-2">
                        <input type="checkbox" (click)="checkPosNeg($event)" class="custom-control-input" id="checkNegativo">
                        <label class="pl-4 custom-control-label" for="checkNegativo" id="checkNegativoLabel"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container row col-12 p-4">
        <div class="col-sm-6">
            <span class="text-header pb-3">Adicionar sequências de acesso</span>
            <div class="bg-white rounded mt-3">
                <input id="saSearch4"
                    class="form-control border-top-0 border-right-0 border-left-0 p-4 list-header custom-text-muted"
                    [(ngModel)]="searchSeleccionado" placeholder="Pesquise o tipo de condição..." />
                <ul class="p-0 martins-scrollbar">
                    <li *ngFor="let sequencia of sequencias" class="p-2">
                        <div class="custom-control pl-3 custom-checkbox">
                            <input (change)="checkValue(sequencia)" type="checkbox"
                                class="sacceso-opcion custom-control-input" id="{{sequencia.cod_sequencia}}">
                            <label class="pl-4 custom-control-label" for="{{sequencia.cod_sequencia}}">{{sequencia.nome_sequencia}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <span class="text-header pb-3">Sequências de acceso já cadastradas</span>
            <div class="bg-white rounded mt-3">
                <input id="saSearch2"
                    class="form-control border-top-0 border-right-0 border-left-0 p-4 list-header custom-text-muted"
                    [(ngModel)]="searchSeleccionado" placeholder="Pesquise o tipo de condição..." />
                <ul class="p-0 martins-scrollbar">
                    <li *ngFor="let sequencia of condicion.sequencias" class="p-2">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <label class="pl-4 mb-0">{{sequencia.nome_sequencia}}</label>
                            <button type="button" (click)="onDltSelection(sequencia)"
                                class="btn btn-danger ml-2 p-0 d-flex flex-column align-items-center">
                                <span class="btn-label d-flex align-items-center"><i
                                        class="fas fa-times p-0 text-white"></i></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container row col-12 p-4 justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" (click)="onSubmitCondicao()" class="btn bg-standard btn-block font-weight-bold" value="Salvar">
            </div>
        </div>
    </div>
    
    <div class="row justify-content-md-center">
        <!-- Success Message -->
        <div *ngIf="saveSucess" class="col-md-8 alert alert-success" role="alert">
            <strong>{{this.condicion.cod_condicao}} - {{this.condicion.desc_condicao}} salva com sucesso!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <!-- Error Message -->
        <div *ngIf="saveError" class="col-md-8 alert alert-danger" role="alert">
            <strong>{{this.condicion.desc_condicao}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
</div>
