<!-- Navigation Bar -->
<navegacion [cMode]="bCreateMode"></navegacion>

<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Condição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Criar nova condição ou alterar já existente?
            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0">
                <button type="button" class="btn bg-standard" (click)="isCreateMode()">Criar</button>
                <button type="button" class="btn bg-standard" (click)="isEditMode()">Alterar</button>
            </div>
        </div>
    </div>
</div>

<!--Component Content -->
<div class="container background col-9">
    <div class="container row col-12 p-4">
        <div class="col-sm-2">

            <span class="text-header">Cód. Condição</span>
            <input class="form-control mt-3" value="TBNC" [(ngModel)]="_condicion.sCodCondicion"
                (keydown.Tab)="updateCondDescription(_condicion.sId)" />
        </div>
        <div class="col-sm-3 p-0">
            <span class="text-header">Descrição da condição</span>
            <input class="form-control mt-3" [(ngModel)]="_condicion.sDesCondicion" value="Beneficio customizado" />
        </div>
        <div *ngIf="bCreateMode" class="col-sm-1 mt-5 mb-2 d-flex justify-content-center align-items-center">
            <i class="fas fa-search disabledSearch"></i>
        </div>
        <div *ngIf="!bCreateMode" class="col-sm-1 mt-5 mb-2 d-flex justify-content-center align-items-center">
            <i class="fas fa-search"></i>
        </div>
        <div class="col-sm-3">
            <span class="text-header">Atribua à camada</span>
            <div class="dropdown mt-3">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this._condicion.oCamada ? this._condicion.oCamada.Nome_Camada : this.sSeleccionPlaceholder}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let ca of _camadas ; let id = index" class="dropdown-item" (click)="getSelectedCamada(ca)">{{ca.Nome_Camada}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container row col-12 p-4">
        <div class="col-sm-2">
            <span class="text-header">Chave de contas</span>
            <input *ngIf="_condicion.oChaveContas" [(ngModel)]="_condicion.oChaveContas.Cod_ChaveContas" class="form-control mt-3" placeholder="Chave"/>
            <input *ngIf="!_condicion.oChaveContas" class="form-control mt-3" placeholder="Chave"/>
        </div>
        <div class="col-sm-3 p-0">
            <span class="text-header">Descrição da chave de contas</span>
            <div class="dropdown mt-3">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this._condicion.oChaveContas ? this._condicion.oChaveContas.Desc_ChaveContas : this.sSeleccionPlaceholder}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let cc of _chaveContas ; let id = index" class="dropdown-item" (click)="getSelectedChaveContas(cc)">{{cc.Desc_ChaveContas}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-5 mb-2 d-flex justify-content-center align-items-center">
            <i class="fas fa-search"></i>
        </div>
        <div class="col-sm-2">
            <span class="text-header">Tipo de valor</span>
            <div class="dropdown mt-3">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this._condicion.oTipoValor ? this._condicion.oTipoValor.Desc_TipoValor : this.sSeleccionPlaceholder}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let tp of _tipoValor ; let id = index" class="dropdown-item" (click)="getSelectedTipoValor(tp)">{{tp.Desc_TipoValor}}</a>
                </div>
            </div>
        </div>
        <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <span class="text-header">Escala por qtd.</span>
            <div class="custom-control custom-checkbox mt-2 mb-2">
                <input type="checkbox" [(ngModel)]="this._condicion.bEscalaQtde" class="custom-control-input" id="checkEscala">
                <label class="pl-4 custom-control-label" for="checkEscala" id="checkEscalaLabel"></label>
            </div>
        </div>
        <div class="d-flex justify-content-between border rounded col-2 p-0">
            <div class="col-12 d-flex justify-content-center p-0">
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <span class="text-header">Positivo</span>
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" [(ngModel)]="this._condicion.bPos" (click)="checkPosNeg($event)" class="custom-control-input" id="checkPositivo">
                        <label class="pl-4 custom-control-label" for="checkPositivo" id="checkPositivoLabel"></label>
                    </div>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <span class="text-header">Negativo</span>
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" [(ngModel)]="this._condicion.bNeg" (click)="checkPosNeg($event)" class="custom-control-input" id="checkNegativo">
                        <label class="pl-4 custom-control-label" for="checkNegativo" id="checkNegativoLabel"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container row col-12 p-4">
        <div class="col-sm-6">
            <span class="text-header pb-3">Adicionar sequências de acesso</span>
            <div class="options-list rounded mt-3">
                <input id="saSearch2"
                    class="form-control border-top-0 border-right-0 border-left-0 p-4 list-header custom-text-muted"
                    [(ngModel)]="searchSeleccionado" placeholder="Pesquise o tipo de condição..." />
                <ul class="p-0 custom-scrollbar-css">
                    <li *ngFor="let sequencia of _sequencias ; let id = index" class="p-2">
                        <div class="custom-control custom-checkbox">
                            <input (click)="checkValue(sequencia)" type="checkbox"
                                class="sacceso-opcion custom-control-input" id="{{id}}">
                            <label class="pl-4 custom-control-label" for="{{id}}">{{sequencia.Nome_Sequencia}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <span class="text-header pb-3">Sequências de acceso já cadastradas</span>
            <div class="options-list rounded mt-3">
                <input id="saSearch2"
                    class="form-control border-top-0 border-right-0 border-left-0 p-4 list-header custom-text-muted"
                    [(ngModel)]="searchSeleccionado" placeholder="Pesquise o tipo de condição..." />
                <ul class="p-0 custom-scrollbar-css">
                    <li *ngFor="let seq of selectedProperties ; let id = index " class="p-2">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <label class="pl-4 mb-0">{{seq.Nome_Sequencia}}</label>
                            <button type="button" (click)="onDltSelection(seq)"
                                class="btn btn-danger ml-2 p-0 d-flex flex-column align-items-center">
                                <span class="btn-label d-flex align-items-center"><i
                                        class="fas fa-times p-0"></i></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container row col-12 p-4 justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn bg-standard btn-block font-weight-bold" value="Salvar">
            </div>
        </div>
    </div>
</div>