@import '../../../../assets/styles/global.scss';
@import '../../../../assets/styles/mixins-var.scss';
.container {
    height: 50vh;
}

.dropdown-toggle:after{
    position: relative;
    top: 0.5rem;
    float: right;
    color: $martinsBlue;
}

.dropdown-menu {
    min-width: 100%;
}

.container{
	margin-top:0px !important;
}